{
  "openapi": "3.0.3",
  "info": {
    "title": "Sequence API",
    "version": "0.1.0",
    "description": "Sequence API"
  },
  "servers": [
    {
      "url": "https://sandbox.sequencehq.com/api",
      "description": "Sequence API"
    }
  ],
  "paths": {
    "/analytics-dashboard-link": {
      "get": {
        "summary": "Get Metabase dashboard link",
        "description": "Retrieve the Metabase link for the analytics dashboard of one of your [Sequence Accounts](/docs/organisations-and-accounts).",
        "tags": [],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "Authorization",
            "required": true,
            "description": "Your [API credentials](/docs/authentication). Eg. `Basic {credentials}`."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "metabaseDashboardLink": "https://sandbox.sequencehq.com/analytics/dashboard1"
                },
                "schema": {
                  "$ref": "#/components/schemas/MetabaseDashboardLinkResponse"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {}
          }
        },
        "security": [],
        "operationId": "getApiAnalytics_dashboard_link",
        "deprecated": false
      }
    },
    "/oauth-clients": {
      "get": {
        "summary": "List OAuth Clients",
        "description": "List all OAuth clients for Sequence account",
        "tags": [],
        "parameters": [
          {
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "name": "limit",
            "required": false,
            "description": "Maximum number of objects to return per-page."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "after",
            "required": false,
            "description": "Pagination offset. To page through items, omit this parameter to retrieve the first page, and then successively use the value you get from `pagination.after` or `pagination.before` to retrieve each page."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "before",
            "required": false,
            "description": "Pagination offset. To page through items, omit this parameter to retrieve the first page, and then successively use the value you get from `pagination.next` or `pagination.previous` to retrieve each page."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "Authorization",
            "required": true,
            "description": "Your [API credentials](/docs/authentication). Eg. `Basic {credentials}`."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "items": [
                    {
                      "id": "7b1f28b9-a4ad-450b-a0ea-fd647d5109b2",
                      "sequenceAccountId": "c9e249d8-5ac9-49af-b9a3-0da9f0946c3d",
                      "name": "Client",
                      "scopes": [
                        "product"
                      ]
                    }
                  ],
                  "pagination": {
                    "after": "ZTMwOWU5NDgtMDg4ZS00ZDc3LWI2NTQtY2Q4NTQ5OGYxNTU1IzE2NTgyNjA4NTYwMzMwMTMjREVTQw==",
                    "before": "NjRlZjJmZjktMmJjYi00M2RiLWI0ZDUtOTAxMDU4MjRiMTdmIzE2NTgyNjA3NTk3NTE2ODEjQVND",
                    "totalResultSize": 100
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ListOAuthClientsEndpointResponseModel"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {}
          }
        },
        "security": [],
        "operationId": "getApiOauth_clients",
        "deprecated": false
      },
      "post": {
        "summary": "Store OAuth client with SHQ Organisation and SHQ Account",
        "tags": [],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "Authorization",
            "required": true,
            "description": "Your [API credentials](/docs/authentication). Eg. `Basic {credentials}`."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "On-Behalf-Of",
            "required": false,
            "description": "The Sequence account that this request is made on behalf of."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "scopes": [
                  "product"
                ],
                "accountId": "7e330949-a175-496a-a060-27821656ce34",
                "clientName": "seqhq-7e330949-a175-496a-a060-27821656ce34"
              },
              "schema": {
                "$ref": "#/components/schemas/CreateOAuthClientRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "example": {
                  "id": "6267e4e5-688e-4eda-92d1-45a4031fe5b2",
                  "name": "seqhq-7e330949-a175-496a-a060-27821656ce34",
                  "secret": "somerandomsecret"
                },
                "schema": {
                  "$ref": "#/components/schemas/CreateOAuthClientResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "example": {
                  "error": {
                    "type": "validationError",
                    "message": "Request data validation failed",
                    "errors": [
                      {
                        "code": "validationError",
                        "message": "field_a should not be blank",
                        "key": "field_a",
                        "errors": []
                      }
                    ]
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {}
          }
        },
        "security": [],
        "operationId": "postApiOauth_clients",
        "deprecated": false
      }
    },
    "/oauth-clients/{id}": {
      "delete": {
        "summary": "Delete OAuth client from SHQ Organisation and SHQ Account",
        "tags": [],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "Authorization",
            "required": true,
            "description": "Your [API credentials](/docs/authentication). Eg. `Basic {credentials}`."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true,
            "description": "Client ID"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "id": "7b1f28b9-a4ad-450b-a0ea-fd647d5109b2",
                  "sequenceAccountId": "c9e249d8-5ac9-49af-b9a3-0da9f0946c3d",
                  "name": "Client",
                  "scopes": [
                    "product"
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/OAuthClient"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "example": {
                  "error": {
                    "type": "validationError",
                    "message": "Request data validation failed",
                    "errors": [
                      {
                        "code": "validationError",
                        "message": "field_a should not be blank",
                        "key": "field_a",
                        "errors": []
                      }
                    ]
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {}
          }
        },
        "security": [],
        "operationId": "deleteApiOauth_clients_id",
        "deprecated": false
      }
    },
    "/recovery": {
      "post": {
        "summary": "Password recovery for user",
        "description": "Initiate the password recovery flow for a given user",
        "tags": [],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "email": "foo@example.com"
              },
              "schema": {
                "$ref": "#/components/schemas/RecoverUserPasswordRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {}
          },
          "404": {
            "description": "",
            "content": {}
          },
          "500": {
            "description": "",
            "content": {}
          }
        },
        "security": [],
        "operationId": "postApiRecovery",
        "deprecated": false
      }
    },
    "/recovery/code": {
      "post": {
        "summary": "Password recovery for user with code",
        "description": "Initiate the password recovery flow for a given user",
        "tags": [],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "email": "foo@example.com"
              },
              "schema": {
                "$ref": "#/components/schemas/RecoverUserPasswordRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {}
          },
          "404": {
            "description": "",
            "content": {}
          },
          "500": {
            "description": "",
            "content": {}
          }
        },
        "security": [],
        "operationId": "postApiRecoveryCode",
        "deprecated": false
      }
    },
    "/recovery/link": {
      "post": {
        "summary": "Password recovery for user with link",
        "description": "Initiate the password recovery flow for a given user",
        "tags": [],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "email": "foo@example.com"
              },
              "schema": {
                "$ref": "#/components/schemas/RecoverUserPasswordRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {}
          },
          "404": {
            "description": "",
            "content": {}
          },
          "500": {
            "description": "",
            "content": {}
          }
        },
        "security": [],
        "operationId": "postApiRecoveryLink",
        "deprecated": false
      }
    },
    "/self": {
      "get": {
        "summary": "Get Self",
        "description": "Retrieve the details of yourself.",
        "tags": [],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "Authorization",
            "required": true,
            "description": "Your [API credentials](/docs/authentication). Eg. `Basic {credentials}`."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "sequenceUser": {
                    "id": "918af48c-9f22-4bed-8462-7df0a9772d44",
                    "email": "xyz@example.com",
                    "createdAt": "2022-06-28T16:47:00Z"
                  },
                  "sequenceAccounts": [
                    "7c8a5a33-4bba-4149-acf0-28877f18117e"
                  ],
                  "launchDarklyHash": "96053e2731801c3aa3c44c550b72af55c75ef0c17cbb1ae51c038368fd8ce7e6"
                },
                "schema": {
                  "$ref": "#/components/schemas/Self"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {}
          }
        },
        "security": [],
        "operationId": "getApiSelf",
        "deprecated": false
      }
    },
    "/sequence-account-id": {
      "get": {
        "summary": "Get Account ID",
        "description": "Retrieve the ID of your [Sequence Account](/docs/organisations-and-accounts).",
        "tags": [],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "Authorization",
            "required": true,
            "description": "Your [API credentials](/docs/authentication). Eg. `Basic {credentials}`."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "id": "13448448-ce43-4874-8acf-8ff2a8ca24c1"
                },
                "schema": {
                  "$ref": "#/components/schemas/GetSequenceAccountIdEndpointGetSequenceAccountIdResponse"
                }
              }
            }
          }
        },
        "security": [],
        "operationId": "getApiSequence_account_id",
        "deprecated": false
      }
    },
    "/sequence-account-settings": {
      "get": {
        "summary": "Get Sequence Account Settings",
        "description": "Get Sequence Account Settings",
        "tags": [],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "Authorization",
            "required": true,
            "description": "Your [API credentials](/docs/authentication). Eg. `Basic {credentials}`."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "id": "613eed4d-5bdf-4fc1-a40a-aa2540b2cdc6",
                  "sequenceAccountId": "5eb477d7-f421-4d30-b99c-757c81021b92",
                  "enabledCurrencies": [
                    "USD",
                    "GBP",
                    "EUR"
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/SequenceAccountSettings"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {}
          },
          "401": {
            "description": "",
            "content": {}
          },
          "500": {
            "description": "",
            "content": {}
          }
        },
        "security": [],
        "operationId": "getApiSequence_account_settings",
        "deprecated": false
      },
      "put": {
        "summary": "Update Sequence Account Settings",
        "description": "Update Sequence Account Settings",
        "tags": [],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "Authorization",
            "required": true,
            "description": "Your [API credentials](/docs/authentication). Eg. `Basic {credentials}`."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "enabledCurrencies": [
                  "USD",
                  "GBP",
                  "EUR"
                ]
              },
              "schema": {
                "$ref": "#/components/schemas/UpdateSequenceAccountSettingsEndpointRequestModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "id": "613eed4d-5bdf-4fc1-a40a-aa2540b2cdc6",
                  "sequenceAccountId": "5eb477d7-f421-4d30-b99c-757c81021b92",
                  "enabledCurrencies": [
                    "USD",
                    "GBP",
                    "EUR"
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/SequenceAccountSettings"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {}
          },
          "401": {
            "description": "",
            "content": {}
          },
          "500": {
            "description": "",
            "content": {}
          }
        },
        "security": [],
        "operationId": "putApiSequence_account_settings",
        "deprecated": false
      }
    },
    "/sequence-accounts": {
      "get": {
        "summary": "List Accounts",
        "description": "List all of your [Sequence Accounts](/docs/organisations-and-accounts).",
        "tags": [],
        "parameters": [
          {
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "name": "limit",
            "required": false,
            "description": "Maximum number of objects to return per-page."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "after",
            "required": false,
            "description": "Pagination offset. To page through items, omit this parameter to retrieve the first page, and then successively use the value you get from `pagination.after` or `pagination.before` to retrieve each page."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "before",
            "required": false,
            "description": "Pagination offset. To page through items, omit this parameter to retrieve the first page, and then successively use the value you get from `pagination.next` or `pagination.previous` to retrieve each page."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "Authorization",
            "required": true,
            "description": "Your [API credentials](/docs/authentication). Eg. `Basic {credentials}`."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "items": [
                    {
                      "id": "7e330949-a175-496a-a060-27821656ce34",
                      "createdAt": "2022-06-28T16:47:00Z",
                      "sequenceOrganisationId": "13448448-ce43-4874-8acf-8ff2a8ca24c1",
                      "companyName": "Acme Inc.",
                      "companyNumber": "GB123987",
                      "country": "GB",
                      "sendCustomerNotifications": true
                    }
                  ],
                  "pagination": {
                    "after": "ZTMwOWU5NDgtMDg4ZS00ZDc3LWI2NTQtY2Q4NTQ5OGYxNTU1IzE2NTgyNjA4NTYwMzMwMTMjREVTQw==",
                    "before": "NjRlZjJmZjktMmJjYi00M2RiLWI0ZDUtOTAxMDU4MjRiMTdmIzE2NTgyNjA3NTk3NTE2ODEjQVND",
                    "totalResultSize": 100
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ListSequenceAccountsResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {}
          },
          "403": {
            "description": "",
            "content": {}
          },
          "500": {
            "description": "",
            "content": {}
          }
        },
        "security": [],
        "operationId": "getApiSequence_accounts",
        "deprecated": false
      }
    },
    "/sequence-accounts/{id}": {
      "get": {
        "summary": "Get Account",
        "description": "Retrieve the details of one of your [Sequence Accounts](/docs/organisations-and-accounts).",
        "tags": [],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "Authorization",
            "required": true,
            "description": "Your [API credentials](/docs/authentication). Eg. `Basic {credentials}`."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true,
            "description": "Sequence Account ID"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "id": "13448448-ce43-4874-8acf-8ff2a8ca24c1",
                  "createdAt": "2022-06-28T16:47:00Z",
                  "sequenceOrganisationId": "02441bde-24e8-43d5-8e2d-f3e480778885",
                  "companyName": "Acme Inc.",
                  "companyNumber": "GB123987",
                  "country": "GB",
                  "sendCustomerNotifications": true
                },
                "schema": {
                  "$ref": "#/components/schemas/SequenceAccount"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {}
          },
          "500": {
            "description": "",
            "content": {}
          }
        },
        "security": [],
        "operationId": "getApiSequence_accounts_id",
        "deprecated": false
      }
    },
    "/single-sign-on-domains": {
      "get": {
        "summary": "List all Single Sign On Domains",
        "description": "List all Single Sign On Domains",
        "tags": [],
        "parameters": [
          {
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "name": "limit",
            "required": false,
            "description": "Maximum number of objects to return per-page."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "after",
            "required": false,
            "description": "Pagination offset. To page through items, omit this parameter to retrieve the first page, and then successively use the value you get from `pagination.after` or `pagination.before` to retrieve each page."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "before",
            "required": false,
            "description": "Pagination offset. To page through items, omit this parameter to retrieve the first page, and then successively use the value you get from `pagination.next` or `pagination.previous` to retrieve each page."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "Authorization",
            "required": true,
            "description": "Your [API credentials](/docs/authentication). Eg. `Basic {credentials}`."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "items": [
                    {
                      "id": "8f125b2b-a573-4b1a-b286-804ec3cfcacd",
                      "sequenceAccountId": "a2e7ec72-e3b1-4349-8d8b-c1ad3cea03a1",
                      "domain": "sequencehq.com",
                      "isDiscoverable": true
                    }
                  ],
                  "pagination": {
                    "after": "MDE4NDUyNjYtNmQ2NC03N2M4LTlhZGYtNDQ4N2Q5NGQxNDU3",
                    "before": "MDE4NDQyMWUtYTljYy03MTFiLWFmOTMtYmYwNTExZDRkODMz",
                    "totalResultSize": 10
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ListSingleSignOnDomainEndpointProductListSingleSignOnDomainPaginatedResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {}
          },
          "401": {
            "description": "",
            "content": {}
          },
          "500": {
            "description": "",
            "content": {}
          }
        },
        "security": [],
        "operationId": "getApiSingle_sign_on_domains",
        "deprecated": false
      },
      "post": {
        "summary": "Create a new Single Sign On Domain",
        "description": "Create a new Single Sign On Domain",
        "tags": [],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "Authorization",
            "required": true,
            "description": "Your [API credentials](/docs/authentication). Eg. `Basic {credentials}`."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "sequenceAccountId": "a2e7ec72-e3b1-4349-8d8b-c1ad3cea03a1",
                "domain": "sequencehq.com",
                "isDiscoverable": true
              },
              "schema": {
                "$ref": "#/components/schemas/CreateSingleSignOnDomainEndpointCreateSingleSignOnDomainRequestModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "example": {
                  "id": "8f125b2b-a573-4b1a-b286-804ec3cfcacd",
                  "sequenceAccountId": "a2e7ec72-e3b1-4349-8d8b-c1ad3cea03a1",
                  "domain": "sequencehq.com",
                  "isDiscoverable": true
                },
                "schema": {
                  "$ref": "#/components/schemas/CreateSingleSignOnDomainEndpointProductCreateSingleSignOnDomainResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {}
          },
          "401": {
            "description": "",
            "content": {}
          },
          "500": {
            "description": "",
            "content": {}
          }
        },
        "security": [],
        "operationId": "postApiSingle_sign_on_domains",
        "deprecated": false
      }
    },
    "/single-sign-on-domains/{id}": {
      "delete": {
        "summary": "Delete a Single Sign On Domain",
        "description": "Delete a Single Sign On Domain",
        "tags": [],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "Authorization",
            "required": true,
            "description": "Your [API credentials](/docs/authentication). Eg. `Basic {credentials}`."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true,
            "description": "Unique ID"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "id": "8f125b2b-a573-4b1a-b286-804ec3cfcacd",
                  "sequenceAccountId": "a2e7ec72-e3b1-4349-8d8b-c1ad3cea03a1",
                  "domain": "sequencehq.com",
                  "isDiscoverable": true
                },
                "schema": {
                  "$ref": "#/components/schemas/DeleteSingleSignOnDomainEndpointProductDeleteSingleSignOnDomainResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {}
          },
          "401": {
            "description": "",
            "content": {}
          },
          "500": {
            "description": "",
            "content": {}
          }
        },
        "security": [],
        "operationId": "deleteApiSingle_sign_on_domains_id",
        "deprecated": false
      },
      "get": {
        "summary": "Get a Single Sign On Domain by ID",
        "description": "Get a Single Sign On Domain by ID",
        "tags": [],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "Authorization",
            "required": true,
            "description": "Your [API credentials](/docs/authentication). Eg. `Basic {credentials}`."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true,
            "description": "Unique ID"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "id": "8f125b2b-a573-4b1a-b286-804ec3cfcacd",
                  "sequenceAccountId": "a2e7ec72-e3b1-4349-8d8b-c1ad3cea03a1",
                  "domain": "sequencehq.com",
                  "isDiscoverable": true
                },
                "schema": {
                  "$ref": "#/components/schemas/GetSingleSignOnDomainEndpointProductGetSingleSignOnDomainResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {}
          },
          "401": {
            "description": "",
            "content": {}
          },
          "500": {
            "description": "",
            "content": {}
          }
        },
        "security": [],
        "operationId": "getApiSingle_sign_on_domains_id",
        "deprecated": false
      },
      "put": {
        "summary": "Update a Single Sign On Domain",
        "description": "Update a Single Sign On Domain",
        "tags": [],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "Authorization",
            "required": true,
            "description": "Your [API credentials](/docs/authentication). Eg. `Basic {credentials}`."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true,
            "description": "Unique ID"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "isDiscoverable": true
              },
              "schema": {
                "$ref": "#/components/schemas/UpdateSingleSignOnDomainEndpointUpdateSingleSignOnDomainRequestModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "id": "8f125b2b-a573-4b1a-b286-804ec3cfcacd",
                  "sequenceAccountId": "a2e7ec72-e3b1-4349-8d8b-c1ad3cea03a1",
                  "domain": "sequencehq.com",
                  "isDiscoverable": true
                },
                "schema": {
                  "$ref": "#/components/schemas/UpdateSingleSignOnDomainEndpointProductUpdateSingleSignOnDomainResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {}
          },
          "401": {
            "description": "",
            "content": {}
          },
          "500": {
            "description": "",
            "content": {}
          }
        },
        "security": [],
        "operationId": "putApiSingle_sign_on_domains_id",
        "deprecated": false
      }
    },
    "/user-invites": {
      "get": {
        "summary": "List all UserInvites",
        "description": "List all UserInvites",
        "tags": [],
        "parameters": [
          {
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "name": "limit",
            "required": false,
            "description": "Maximum number of objects to return per-page."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "after",
            "required": false,
            "description": "Pagination offset. To page through items, omit this parameter to retrieve the first page, and then successively use the value you get from `pagination.after` or `pagination.before` to retrieve each page."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "before",
            "required": false,
            "description": "Pagination offset. To page through items, omit this parameter to retrieve the first page, and then successively use the value you get from `pagination.next` or `pagination.previous` to retrieve each page."
          },
          {
            "schema": {
              "type": "boolean"
            },
            "in": "query",
            "name": "consumed",
            "required": false,
            "description": "Whether the invite has been consumed or not"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "Authorization",
            "required": true,
            "description": "Your [API credentials](/docs/authentication). Eg. `Basic {credentials}`."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "items": [
                    {
                      "id": "54c5a2a1-e669-4506-bbaf-7c0378c7eb3d",
                      "email": "user@example.com"
                    }
                  ],
                  "pagination": {
                    "after": "MDE4NDUyNjYtNmQ2NC03N2M4LTlhZGYtNDQ4N2Q5NGQxNDU3",
                    "before": "MDE4NDQyMWUtYTljYy03MTFiLWFmOTMtYmYwNTExZDRkODMz",
                    "totalResultSize": 10
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ListUserInviteEndpointProductListUserInvitePaginatedResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {}
          },
          "401": {
            "description": "",
            "content": {}
          },
          "500": {
            "description": "",
            "content": {}
          }
        },
        "security": [],
        "operationId": "getApiUser_invites",
        "deprecated": false
      },
      "post": {
        "summary": "Create a new User Invite",
        "description": "Create a new User Invite",
        "tags": [],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "Authorization",
            "required": true,
            "description": "Your [API credentials](/docs/authentication). Eg. `Basic {credentials}`."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "email": "user@example.com"
              },
              "schema": {
                "$ref": "#/components/schemas/CreateUserInviteEndpointCreateUserInviteRequestModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "example": {
                  "id": "54c5a2a1-e669-4506-bbaf-7c0378c7eb3d",
                  "email": "user@example.com"
                },
                "schema": {
                  "$ref": "#/components/schemas/CreateUserInviteEndpointProductCreateUserInviteResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {}
          },
          "401": {
            "description": "",
            "content": {}
          },
          "500": {
            "description": "",
            "content": {}
          }
        },
        "security": [],
        "operationId": "postApiUser_invites",
        "deprecated": false
      }
    },
    "/user-invites/{id}": {
      "delete": {
        "summary": "Delete an User Invite",
        "description": "Delete an User Invite",
        "tags": [],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "Authorization",
            "required": true,
            "description": "Your [API credentials](/docs/authentication). Eg. `Basic {credentials}`."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true,
            "description": "id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "id": "54c5a2a1-e669-4506-bbaf-7c0378c7eb3d",
                  "email": "user@example.com"
                },
                "schema": {
                  "$ref": "#/components/schemas/DeleteUserInviteEndpointProductDeleteUserInviteResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {}
          },
          "401": {
            "description": "",
            "content": {}
          },
          "500": {
            "description": "",
            "content": {}
          }
        },
        "security": [],
        "operationId": "deleteApiUser_invites_id",
        "deprecated": false
      },
      "get": {
        "summary": "Get an User Invite by ID",
        "description": "Get an User Invite by ID",
        "tags": [],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "Authorization",
            "required": true,
            "description": "Your [API credentials](/docs/authentication). Eg. `Basic {credentials}`."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true,
            "description": "id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "id": "54c5a2a1-e669-4506-bbaf-7c0378c7eb3d",
                  "email": "user@example.com"
                },
                "schema": {
                  "$ref": "#/components/schemas/GetUserInviteEndpointProductGetUserInviteResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {}
          },
          "401": {
            "description": "",
            "content": {}
          },
          "500": {
            "description": "",
            "content": {}
          }
        },
        "security": [],
        "operationId": "getApiUser_invites_id",
        "deprecated": false
      },
      "put": {
        "summary": "Update an User Invite",
        "description": "Update an User Invite",
        "tags": [],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "Authorization",
            "required": true,
            "description": "Your [API credentials](/docs/authentication). Eg. `Basic {credentials}`."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true,
            "description": "id"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "email": "user@example.com"
              },
              "schema": {
                "$ref": "#/components/schemas/UpdateUserInviteEndpointUpdateUserInviteRequestModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "id": "54c5a2a1-e669-4506-bbaf-7c0378c7eb3d",
                  "email": "user@example.com"
                },
                "schema": {
                  "$ref": "#/components/schemas/UpdateUserInviteEndpointProductUpdateUserInviteResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {}
          },
          "401": {
            "description": "",
            "content": {}
          },
          "500": {
            "description": "",
            "content": {}
          }
        },
        "security": [],
        "operationId": "putApiUser_invites_id",
        "deprecated": false
      }
    },
    "/users": {
      "get": {
        "summary": "List Users",
        "description": "List all Users within your Sequence Organisation",
        "tags": [],
        "parameters": [
          {
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "name": "limit",
            "required": false,
            "description": "Maximum number of objects to return per-page."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "after",
            "required": false,
            "description": "Pagination offset. To page through items, omit this parameter to retrieve the first page, and then successively use the value you get from `pagination.after` or `pagination.before` to retrieve each page."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "before",
            "required": false,
            "description": "Pagination offset. To page through items, omit this parameter to retrieve the first page, and then successively use the value you get from `pagination.next` or `pagination.previous` to retrieve each page."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "Authorization",
            "required": true,
            "description": "Your [API credentials](/docs/authentication). Eg. `Basic {credentials}`."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "items": [
                    {
                      "id": "7b1f28b9-a4ad-450b-a0ea-fd647d5109b2",
                      "email": "john@example.xyz",
                      "sequenceAccountIds": [
                        "83da2ca4-49c7-4d81-9c9a-ba5be11768b0",
                        "c0901c87-e1a9-48e9-9e2f-9e05c402dcea"
                      ],
                      "state": "active"
                    }
                  ],
                  "pagination": {
                    "after": "ZTMwOWU5NDgtMDg4ZS00ZDc3LWI2NTQtY2Q4NTQ5OGYxNTU1IzE2NTgyNjA4NTYwMzMwMTMjREVTQw==",
                    "before": "NjRlZjJmZjktMmJjYi00M2RiLWI0ZDUtOTAxMDU4MjRiMTdmIzE2NTgyNjA3NTk3NTE2ODEjQVND",
                    "totalResultSize": 100
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ListSequenceUsersResponse"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {}
          }
        },
        "security": [],
        "operationId": "getApiUsers",
        "deprecated": false
      },
      "post": {
        "summary": "Create User",
        "description": "Create a new User.",
        "tags": [],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "Authorization",
            "required": true,
            "description": "Your [API credentials](/docs/authentication). Eg. `Basic {credentials}`."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "email": "foo@example.com",
                "sequenceAccountIds": [
                  "216e7817-1b36-4bc4-9d21-cf1dbf631b04"
                ]
              },
              "schema": {
                "$ref": "#/components/schemas/CreateSequenceUserRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "example": {
                  "id": "918af48c-9f22-4bed-8462-7df0a9772d44",
                  "email": "xyz@example.com",
                  "createdAt": "2022-06-28T16:47:00Z"
                },
                "schema": {
                  "$ref": "#/components/schemas/SequenceUser"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "example": {
                  "error": {
                    "type": "Duplicate User",
                    "message": "A user with the same email is already registered."
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {}
          }
        },
        "security": [],
        "operationId": "postApiUsers",
        "deprecated": false
      }
    },
    "/users/code": {
      "post": {
        "summary": "Create User with code",
        "description": "Create a new User.",
        "tags": [],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "Authorization",
            "required": true,
            "description": "Your [API credentials](/docs/authentication). Eg. `Basic {credentials}`."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "email": "foo@example.com",
                "sequenceAccountIds": [
                  "216e7817-1b36-4bc4-9d21-cf1dbf631b04"
                ]
              },
              "schema": {
                "$ref": "#/components/schemas/CreateSequenceUserRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "example": {
                  "id": "918af48c-9f22-4bed-8462-7df0a9772d44",
                  "email": "xyz@example.com",
                  "createdAt": "2022-06-28T16:47:00Z"
                },
                "schema": {
                  "$ref": "#/components/schemas/SequenceUser"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "example": {
                  "error": {
                    "type": "Duplicate User",
                    "message": "A user with the same email is already registered."
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {}
          }
        },
        "security": [],
        "operationId": "postApiUsersCode",
        "deprecated": false
      }
    },
    "/users/link": {
      "post": {
        "summary": "Create User with link",
        "description": "Create a new User.",
        "tags": [],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "Authorization",
            "required": true,
            "description": "Your [API credentials](/docs/authentication). Eg. `Basic {credentials}`."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "email": "foo@example.com",
                "sequenceAccountIds": [
                  "216e7817-1b36-4bc4-9d21-cf1dbf631b04"
                ]
              },
              "schema": {
                "$ref": "#/components/schemas/CreateSequenceUserRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "example": {
                  "id": "918af48c-9f22-4bed-8462-7df0a9772d44",
                  "email": "xyz@example.com",
                  "createdAt": "2022-06-28T16:47:00Z"
                },
                "schema": {
                  "$ref": "#/components/schemas/SequenceUser"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "example": {
                  "error": {
                    "type": "Duplicate User",
                    "message": "A user with the same email is already registered."
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {}
          }
        },
        "security": [],
        "operationId": "postApiUsersLink",
        "deprecated": false
      }
    },
    "/users/{id}": {
      "delete": {
        "summary": "Delete User",
        "description": "Delete one of your Users.",
        "tags": [],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "Authorization",
            "required": true,
            "description": "Your [API credentials](/docs/authentication). Eg. `Basic {credentials}`."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true,
            "description": "Sequence User ID"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "id": "7b1f28b9-a4ad-450b-a0ea-fd647d5109b2",
                  "email": "person@example.com",
                  "sequenceAccountIds": [
                    "724c4f93-8606-4a38-bfbf-50a7045e4eaa"
                  ],
                  "state": "active"
                },
                "schema": {
                  "$ref": "#/components/schemas/SequenceUserResponse"
                }
              }
            }
          }
        },
        "security": [],
        "operationId": "deleteApiUsers_id",
        "deprecated": false
      },
      "get": {
        "summary": "Get User",
        "description": "Retrieve the details of one of your Users.",
        "tags": [],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "Authorization",
            "required": true,
            "description": "Your [API credentials](/docs/authentication). Eg. `Basic {credentials}`."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true,
            "description": "Sequence User ID"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "id": "7b1f28b9-a4ad-450b-a0ea-fd647d5109b2",
                  "email": "person@example.com",
                  "sequenceAccountIds": [
                    "724c4f93-8606-4a38-bfbf-50a7045e4eaa"
                  ],
                  "state": "active"
                },
                "schema": {
                  "$ref": "#/components/schemas/SequenceUserResponse"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {}
          }
        },
        "security": [],
        "operationId": "getApiUsers_id",
        "deprecated": false
      },
      "put": {
        "summary": "Update User",
        "description": "Update the details of one of your Users.",
        "tags": [],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "Authorization",
            "required": true,
            "description": "Your [API credentials](/docs/authentication). Eg. `Basic {credentials}`."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true,
            "description": "Sequence User ID"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "sequenceAccountIds": [
                  "c9e249d8-5ac9-49af-b9a3-0da9f0946c3d"
                ]
              },
              "schema": {
                "$ref": "#/components/schemas/UpdateSequenceUserRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "example": {
                  "id": "ca88f667-a17a-4c84-a8ee-8a4293834ff4",
                  "sequenceAccountIds": [
                    "c9e249d8-5ac9-49af-b9a3-0da9f0946c3d"
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/UpdateSequenceUserResponse"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {}
          }
        },
        "security": [],
        "operationId": "putApiUsers_id",
        "deprecated": false
      }
    },
    "/customer-portal/customers/{customerId}/credit-balances/{type}/{name}": {
      "get": {
        "summary": "List a Customer's Balance Details",
        "description": "List a Customer's Balance Details",
        "tags": [],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "customerId",
            "required": true,
            "description": "Customer ID"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "type",
            "required": true,
            "description": "Credit Type"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "name",
            "required": true,
            "description": "Credit Name"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "balance": "50",
                  "type": "CASH",
                  "id": "6587e308-ab0d-4a58-8cc1-1d168490de7b",
                  "name": "Credit",
                  "grants": [
                    {
                      "id": "f7fda017-23d1-4ab5-a92a-a8bf2283a810",
                      "type": "CASH",
                      "name": "grant",
                      "originalAmount": "80",
                      "currentBalance": "50",
                      "expiryDate": "2024-12-03"
                    }
                  ],
                  "transactions": [
                    {
                      "grantId": "f7fda017-23d1-4ab5-a92a-a8bf2283a810",
                      "date": "2024-03-03",
                      "type": "DEBIT",
                      "amount": "30",
                      "reason": "spending"
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/CreditBalanceDetails"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {}
          },
          "401": {
            "description": "",
            "content": {}
          },
          "500": {
            "description": "",
            "content": {}
          }
        },
        "security": [],
        "operationId": "getApiCustomer_portalCustomers_customerId_Credit_balances_type__name",
        "deprecated": false
      }
    },
    "/customer-portal/customers/{id}": {
      "get": {
        "summary": "Get a Customer by ID",
        "description": "Get a Customer by ID",
        "tags": [],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true,
            "description": "Customer ID"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "legalName": "Acme Corp"
                },
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {}
          },
          "401": {
            "description": "",
            "content": {}
          },
          "500": {
            "description": "",
            "content": {}
          }
        },
        "security": [],
        "operationId": "getApiCustomer_portalCustomers_id",
        "deprecated": false
      }
    },
    "/customer-portal/customers/{id}/billing-schedules": {
      "get": {
        "summary": "List billing schedules for customer",
        "description": "List billing schedules for customer",
        "tags": [],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true,
            "description": "Customer ID"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "items": [
                    {
                      "id": "be927602-772e-4e0d-a14c-bfd30a68fc53",
                      "name": "1 Apr 2023 to 30 Apr 2023"
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/ListBillingSchedulesEndpointResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {}
          },
          "401": {
            "description": "",
            "content": {}
          },
          "500": {
            "description": "",
            "content": {}
          }
        },
        "security": [],
        "operationId": "getApiCustomer_portalCustomers_id_Billing_schedules",
        "deprecated": false
      }
    },
    "/customer-portal/customers/{id}/billing-schedules/{billingScheduleId}/usage-data": {
      "post": {
        "summary": "Get usage events for customer and event type for the given usage period",
        "description": "List usage events for customer and event type for the given usage period",
        "tags": [],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true,
            "description": "Customer ID"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "billingScheduleId",
            "required": true,
            "description": "Billing schedule ID"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "metricId": "27ba4761-7573-41c5-b780-2993b2c254f7",
                "usagePeriodType": "CURRENT",
                "eventType": "event",
                "priceId": "030a64dd-1d89-46a3-8043-580befdb011d"
              },
              "schema": {
                "$ref": "#/components/schemas/GetUsageDataEndpointRequestModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "usageStart": "2023-02-01",
                  "usageEnd": "2023-04-30",
                  "metricName": "API Calls",
                  "total": "35",
                  "usageData": [
                    {
                      "periodStart": "2023-02-01",
                      "amount": "10"
                    },
                    {
                      "periodStart": "2023-03-01",
                      "amount": "15"
                    },
                    {
                      "periodStart": "2023-04-01",
                      "amount": "10"
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/UsageDataResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {}
          },
          "401": {
            "description": "",
            "content": {}
          },
          "500": {
            "description": "",
            "content": {}
          }
        },
        "security": [],
        "operationId": "postApiCustomer_portalCustomers_id_Billing_schedules_billingScheduleId_Usage_data",
        "deprecated": false
      }
    },
    "/customer-portal/customers/{id}/billing-schedules/{billingScheduleId}/usage-metrics": {
      "get": {
        "summary": "List usage metrics for billing schedule",
        "description": "List usage metrics for billing schedule",
        "tags": [],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true,
            "description": "Customer ID"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "billingScheduleId",
            "required": true,
            "description": "Billing schedule ID"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "items": [
                    {
                      "id": "27ba4761-7573-41c5-b780-2993b2c254f7",
                      "name": "Coffee",
                      "description": "Coffee metric",
                      "eventType": "coffee",
                      "aggregationProperty": "Cost",
                      "priceId": "030a64dd-1d89-46a3-8043-580befdb011d",
                      "aggregationType": "COUNT"
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/ListUsageMetricsForBillingScheduleEndpointResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {}
          },
          "401": {
            "description": "",
            "content": {}
          },
          "500": {
            "description": "",
            "content": {}
          }
        },
        "security": [],
        "operationId": "getApiCustomer_portalCustomers_id_Billing_schedules_billingScheduleId_Usage_metrics",
        "deprecated": false
      }
    },
    "/customer-portal/customers/{id}/branding": {
      "get": {
        "summary": "Get merchant branding",
        "description": "Get merchant branding",
        "tags": [],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true,
            "description": "Customer ID"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "logoUrl": "logo",
                  "legalCompanyName": "Acme Corp",
                  "primaryColour": "green",
                  "url": "www.example.com"
                },
                "schema": {
                  "$ref": "#/components/schemas/Branding"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {}
          },
          "401": {
            "description": "",
            "content": {}
          },
          "500": {
            "description": "",
            "content": {}
          }
        },
        "security": [],
        "operationId": "getApiCustomer_portalCustomers_id_Branding",
        "deprecated": false
      }
    },
    "/customer-portal/customers/{id}/credit-balances": {
      "get": {
        "summary": "List a Customer's Credit Balances",
        "description": "List a Customer's Credit Balances",
        "tags": [],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true,
            "description": "Customer ID"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "items": [
                    {
                      "type": "CASH",
                      "id": "6587e308-ab0d-4a58-8cc1-1d168490de7b",
                      "name": "Credits",
                      "balance": "50"
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/ListCreditBalancesEndpointResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {}
          },
          "401": {
            "description": "",
            "content": {}
          },
          "500": {
            "description": "",
            "content": {}
          }
        },
        "security": [],
        "operationId": "getApiCustomer_portalCustomers_id_Credit_balances",
        "deprecated": false
      }
    },
    "/customer-portal/customers/{id}/invoices": {
      "get": {
        "summary": "List invoices for customer",
        "description": "List invoices for customer",
        "tags": [],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "before",
            "required": false,
            "description": "Pagination cursor. To page through items, omit this parameter to retrieve the first page, and then successively use the value you get from `pagination.after` or `pagination.before` to retrieve each page."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "after",
            "required": false,
            "description": "Pagination cursor. To page through items, omit this parameter to retrieve the first page, and then successively use the value you get from `pagination.after` or `pagination.before` to retrieve each page."
          },
          {
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "name": "limit",
            "required": false,
            "description": "Maximum number of objects to return per-page."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "sortOrder",
            "required": false,
            "description": "Sort order. Default: DESC (descending, most often used for reverse chronological sorting)."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "sortBy",
            "required": false,
            "description": "Sort column. Default: creation time."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "dueBefore",
            "required": false,
            "description": "Filter by due date before."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "dueAfter",
            "required": false,
            "description": "Filter by due date after."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "sentBefore",
            "required": false,
            "description": "Filter by sent date before."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "sentAfter",
            "required": false,
            "description": "Filter by sent date after."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "invoiceBefore",
            "required": false,
            "description": "Filter by invoice date before."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "invoiceAfter",
            "required": false,
            "description": "Filter by invoice date after."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "paymentStatus",
            "required": false,
            "description": "Filter by payment status."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true,
            "description": "Customer ID"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "items": [
                    {
                      "id": "ba37a392-7054-4dae-ab37-6fee9e23fe06",
                      "currency": "GBP",
                      "invoiceNumber": "INV2",
                      "issueDate": "2022-10-05",
                      "dueDate": "2022-11-05",
                      "billingPeriodStart": "2022-10-01",
                      "billingPeriodEnd": "2022-10-30",
                      "grossTotal": "10",
                      "paymentStatus": "UNPAID",
                      "purchaseOrderNumber": "PO123",
                      "customerLegalCompanyName": "Customer",
                      "customerBillingAddress": {
                        "line1": "123 Fake Street",
                        "line2": "Line 2",
                        "town": "Town",
                        "postCode": "postCode",
                        "country": "GB"
                      },
                      "memo": "Memo",
                      "paymentOptions": [
                        "BANK_TRANSFER"
                      ],
                      "customerTaxId": "GB123",
                      "totalTax": "2",
                      "netTotal": "8",
                      "merchantDetails": {
                        "address": {
                          "line1": "The White House",
                          "line2": "1600 Pennsylvania Avenue",
                          "town": "Washington, D.C.",
                          "state": "CA",
                          "postCode": "20500",
                          "country": "US"
                        },
                        "phoneNumber": "0800001066",
                        "email": "donald@example.com",
                        "taxId": "TAX60",
                        "legalCompanyName": "The Merchant",
                        "primaryColour": "#000000",
                        "logoUrl": "logo",
                        "customFields": [
                          {
                            "key": "example-label",
                            "value": "label-value"
                          }
                        ],
                        "usAchDestination": {
                          "accountNumber": "12345678",
                          "accountName": "John Doe",
                          "bankName": "Chase",
                          "bankRoutingNumber": "123456789"
                        },
                        "usWireDestination": {
                          "accountNumber": "12345678",
                          "accountName": "John Doe",
                          "bankName": "Chase",
                          "bankRoutingNumber": "123456789",
                          "swiftCode": "CHASUS33",
                          "bankAddress": {
                            "line1": "JP Morgan Chase",
                            "town": "New York City",
                            "state": "NY",
                            "postCode": "10017",
                            "country": "US"
                          }
                        },
                        "caBankAccountDestination": {
                          "transitNumber": "123",
                          "institutionNumber": "12345",
                          "accountNumber": "1234567"
                        },
                        "canadianInternationalDestination": {
                          "legalName": "John Doe",
                          "accountNumber": "12345678",
                          "transitNumber": "123",
                          "bankName": "Chase",
                          "bankAddress": {
                            "line1": "JP Morgan Chase",
                            "town": "New York City",
                            "state": "NY",
                            "postCode": "10017",
                            "country": "US"
                          },
                          "institutionNumber": "123",
                          "swiftCode": "CHASUS33",
                          "intermediaryBank": {
                            "bankName": "Chase",
                            "bankAddress": {
                              "line1": "JP Morgan Chase",
                              "town": "New York City",
                              "state": "NY",
                              "postCode": "10017",
                              "country": "US"
                            },
                            "swiftCode": "CHASUS33",
                            "routingNumber": "123456789"
                          }
                        },
                        "includeBeneficiaryAddressInPaymentDetails": true
                      },
                      "metadata": [
                        {
                          "key": "key",
                          "value": "value"
                        }
                      ],
                      "creditBalances": "balance",
                      "accountingDate": "2023-11-02"
                    }
                  ],
                  "pagination": {
                    "after": "MDE4NDUyNjYtNmQ2NC03N2M4LTlhZGYtNDQ4N2Q5NGQxNDU3",
                    "before": "MDE4NDQyMWUtYTljYy03MTFiLWFmOTMtYmYwNTExZDRkODMz",
                    "totalResultSize": 10
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ListInvoicesEndpointResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {}
          },
          "401": {
            "description": "",
            "content": {}
          },
          "500": {
            "description": "",
            "content": {}
          }
        },
        "security": [],
        "operationId": "getApiCustomer_portalCustomers_id_Invoices",
        "deprecated": false
      }
    },
    "/customer-portal/customers/{id}/invoices/{invoiceId}/line-item-groups/{lineItemGroupId}/usage-data": {
      "get": {
        "summary": "Get usage data for a line item group",
        "tags": [],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true,
            "description": "Customer ID"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "invoiceId",
            "required": true,
            "description": "Invoice ID"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "lineItemGroupId",
            "required": true,
            "description": "Line item group ID"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "usageStart": "2023-02-01",
                    "usageEnd": "2023-04-30",
                    "metricName": "API Calls",
                    "total": "35",
                    "usageData": [
                      {
                        "periodStart": "2023-02-01",
                        "amount": "10"
                      },
                      {
                        "periodStart": "2023-03-01",
                        "amount": "15"
                      },
                      {
                        "periodStart": "2023-04-01",
                        "amount": "10"
                      }
                    ]
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/GetUsageDataForLineItemGroupEndpointOptionalResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {}
          },
          "401": {
            "description": "",
            "content": {}
          },
          "500": {
            "description": "",
            "content": {}
          }
        },
        "security": [],
        "operationId": "getApiCustomer_portalCustomers_id_Invoices_invoiceId_Line_item_groups_lineItemGroupId_Usage_data",
        "deprecated": false
      }
    },
    "/customer-portal/customers/{id}/usage-events/{eventType}": {
      "get": {
        "summary": "List usage events for customer and event type",
        "description": "List usage events for customer and event type",
        "tags": [],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "before",
            "required": false,
            "description": "Pagination cursor. To page through items, omit this parameter to retrieve the first page, and then successively use the value you get from `pagination.after` or `pagination.before` to retrieve each page."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "after",
            "required": false,
            "description": "Pagination cursor. To page through items, omit this parameter to retrieve the first page, and then successively use the value you get from `pagination.after` or `pagination.before` to retrieve each page."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "sortOrder",
            "required": false,
            "description": "Sort order. Default: DESC (descending, most often used for reverse chronological sorting)."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true,
            "description": "Customer ID"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "eventType",
            "required": true,
            "description": "Event type"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "items": [
                    {
                      "id": "88135c9a-35af-47f6-81e9-3badf02734c9",
                      "eventTimestamp": "2022-10-01T00:00:00Z",
                      "eventType": "coffee",
                      "properties": [
                        {
                          "key": "cost",
                          "value": "3.5"
                        }
                      ]
                    }
                  ],
                  "pagination": {
                    "after": "MDE4NDUyNjYtNmQ2NC03N2M4LTlhZGYtNDQ4N2Q5NGQxNDU3",
                    "before": "MDE4NDQyMWUtYTljYy03MTFiLWFmOTMtYmYwNTExZDRkODMz",
                    "totalResultSize": 10
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ListUsageEventsEndpointResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {}
          },
          "401": {
            "description": "",
            "content": {}
          },
          "500": {
            "description": "",
            "content": {}
          }
        },
        "security": [],
        "operationId": "getApiCustomer_portalCustomers_id_Usage_events_eventType",
        "deprecated": false
      }
    },
    "/customer-portal/customers/{id}/usage-metrics": {
      "get": {
        "summary": "List usage metrics for customer",
        "description": "List usage metrics for customer",
        "tags": [],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true,
            "description": "Customer ID"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "items": [
                    {
                      "id": "27ba4761-7573-41c5-b780-2993b2c254f7",
                      "name": "Coffee",
                      "description": "Coffee metric",
                      "eventType": "coffee",
                      "aggregationProperty": "Cost",
                      "priceId": "030a64dd-1d89-46a3-8043-580befdb011d",
                      "aggregationType": "COUNT"
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/ListUsageMetricsEndpointResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {}
          },
          "401": {
            "description": "",
            "content": {}
          },
          "500": {
            "description": "",
            "content": {}
          }
        },
        "security": [],
        "operationId": "getApiCustomer_portalCustomers_id_Usage_metrics",
        "deprecated": false
      }
    },
    "/customer-portal/invoices/{id}": {
      "get": {
        "summary": "Get invoice",
        "description": "Get invoice by ID",
        "tags": [],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true,
            "description": "Invoice Id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "id": "ba37a392-7054-4dae-ab37-6fee9e23fe06",
                  "currency": "GBP",
                  "invoiceNumber": "INV2",
                  "issueDate": "2022-10-05",
                  "dueDate": "2022-11-05",
                  "billingPeriodStart": "2022-10-01",
                  "billingPeriodEnd": "2022-10-30",
                  "grossTotal": "10",
                  "paymentStatus": "UNPAID",
                  "purchaseOrderNumber": "PO123",
                  "customerLegalCompanyName": "Customer",
                  "customerBillingAddress": {
                    "line1": "123 Fake Street",
                    "line2": "Line 2",
                    "town": "Town",
                    "postCode": "postCode",
                    "country": "GB"
                  },
                  "memo": "Memo",
                  "paymentOptions": [
                    "BANK_TRANSFER"
                  ],
                  "customerTaxId": "GB123",
                  "totalTax": "2",
                  "netTotal": "8",
                  "merchantDetails": {
                    "address": {
                      "line1": "The White House",
                      "line2": "1600 Pennsylvania Avenue",
                      "town": "Washington, D.C.",
                      "state": "CA",
                      "postCode": "20500",
                      "country": "US"
                    },
                    "phoneNumber": "0800001066",
                    "email": "donald@example.com",
                    "taxId": "TAX60",
                    "legalCompanyName": "The Merchant",
                    "primaryColour": "#000000",
                    "logoUrl": "logo",
                    "customFields": [
                      {
                        "key": "example-label",
                        "value": "label-value"
                      }
                    ],
                    "usAchDestination": {
                      "accountNumber": "12345678",
                      "accountName": "John Doe",
                      "bankName": "Chase",
                      "bankRoutingNumber": "123456789"
                    },
                    "usWireDestination": {
                      "accountNumber": "12345678",
                      "accountName": "John Doe",
                      "bankName": "Chase",
                      "bankRoutingNumber": "123456789",
                      "swiftCode": "CHASUS33",
                      "bankAddress": {
                        "line1": "JP Morgan Chase",
                        "town": "New York City",
                        "state": "NY",
                        "postCode": "10017",
                        "country": "US"
                      }
                    },
                    "caBankAccountDestination": {
                      "transitNumber": "123",
                      "institutionNumber": "12345",
                      "accountNumber": "1234567"
                    },
                    "canadianInternationalDestination": {
                      "legalName": "John Doe",
                      "accountNumber": "12345678",
                      "transitNumber": "123",
                      "bankName": "Chase",
                      "bankAddress": {
                        "line1": "JP Morgan Chase",
                        "town": "New York City",
                        "state": "NY",
                        "postCode": "10017",
                        "country": "US"
                      },
                      "institutionNumber": "123",
                      "swiftCode": "CHASUS33",
                      "intermediaryBank": {
                        "bankName": "Chase",
                        "bankAddress": {
                          "line1": "JP Morgan Chase",
                          "town": "New York City",
                          "state": "NY",
                          "postCode": "10017",
                          "country": "US"
                        },
                        "swiftCode": "CHASUS33",
                        "routingNumber": "123456789"
                      }
                    },
                    "includeBeneficiaryAddressInPaymentDetails": true
                  },
                  "metadata": [
                    {
                      "key": "key",
                      "value": "value"
                    }
                  ],
                  "creditBalances": "balance",
                  "accountingDate": "2023-11-02"
                },
                "schema": {
                  "$ref": "#/components/schemas/Invoice"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {}
          },
          "404": {
            "description": "",
            "content": {}
          },
          "500": {
            "description": "",
            "content": {}
          }
        },
        "security": [],
        "operationId": "getApiCustomer_portalInvoices_id",
        "deprecated": false
      }
    },
    "/customer-portal/invoices/{id}/download": {
      "get": {
        "summary": "Download invoice PDF",
        "description": "Download invoice PDF",
        "tags": [],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true,
            "description": "Invoice Id"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {}
          },
          "400": {
            "description": "",
            "content": {}
          },
          "404": {
            "description": "",
            "content": {}
          },
          "500": {
            "description": "",
            "content": {}
          }
        },
        "security": [],
        "operationId": "getApiCustomer_portalInvoices_id_Download",
        "deprecated": false
      }
    },
    "/customer-portal/invoices/{id}/line-item-groups": {
      "get": {
        "summary": "List line item groups for invoice",
        "description": "List line item groups for invoice",
        "tags": [],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true,
            "description": "Invoice ID"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "items": [
                    {
                      "id": "941272d1-f840-4e16-b698-0cd455c81e0e",
                      "title": "Cars",
                      "description": "Charges for cars",
                      "index": 1,
                      "netTotal": "0",
                      "totalTax": "0",
                      "grossTotal": "0"
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/ListInvoiceLineItemGroupsEndpointResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {}
          },
          "401": {
            "description": "",
            "content": {}
          },
          "500": {
            "description": "",
            "content": {}
          }
        },
        "security": [],
        "operationId": "getApiCustomer_portalInvoices_id_Line_item_groups",
        "deprecated": false
      }
    },
    "/customer-portal/invoices/{id}/line-items": {
      "get": {
        "summary": "List line items for invoice",
        "description": "List line items for invoice",
        "tags": [],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true,
            "description": "Invoice ID"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "items": [
                    {
                      "id": "941272d1-f840-4e16-b698-0cd455c81e0e",
                      "title": "Cars",
                      "description": "Charges for cars",
                      "quantity": "0",
                      "rate": "0",
                      "taxRate": "0",
                      "servicePeriodStart": "2023-08-07",
                      "servicePeriodEnd": "2023-08-07",
                      "servicePeriod": {
                        "start": "2023-08-07",
                        "endInclusive": "2023-08-07"
                      },
                      "index": 1,
                      "groupId": "941272d1-f840-4e16-b698-0cd455c81e0e",
                      "netTotal": "0",
                      "totalTax": "0",
                      "grossTotal": "0",
                      "rateDisplay": "ABSOLUTE"
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/ListInvoiceLineItemsEndpointResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {}
          },
          "401": {
            "description": "",
            "content": {}
          },
          "500": {
            "description": "",
            "content": {}
          }
        },
        "security": [],
        "operationId": "getApiCustomer_portalInvoices_id_Line_items",
        "deprecated": false
      }
    },
    "/products": {
      "get": {
        "summary": "List all Products",
        "description": "List all Products",
        "tags": [],
        "parameters": [
          {
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "name": "limit",
            "required": false,
            "description": "Maximum number of objects to return per-page."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "after",
            "required": false,
            "description": "Pagination offset. To page through items, omit this parameter to retrieve the first page, and then successively use the value you get from `pagination.after` or `pagination.before` to retrieve each page."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "before",
            "required": false,
            "description": "Pagination offset. To page through items, omit this parameter to retrieve the first page, and then successively use the value you get from `pagination.next` or `pagination.previous` to retrieve each page."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
[...]
