{
  "openapi": "3.0.3",
  "info": {
    "title": "Sequence API",
    "version": "0.1.0",
    "description": "Sequence API"
  },
  "servers": [
    {
      "url": "https://sandbox.sequencehq.com/api",
      "description": "Sequence API"
    }
  ],
  "paths": {
    "/analytics-dashboard-link": {
      "get": {
        "summary": "Get Metabase dashboard link",
        "description": "Retrieve the Metabase link for the analytics dashboard of one of your [Sequence Accounts](/docs/organisations-and-accounts).",
        "tags": [],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "Authorization",
            "required": true,
            "description": "Your [API credentials](/docs/authentication). Eg. `Basic {credentials}`."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "metabaseDashboardLink": "https://sandbox.sequencehq.com/analytics/dashboard1"
                },
                "schema": {
                  "$ref": "#/components/schemas/MetabaseDashboardLinkResponse"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {}
          }
        },
        "security": [],
        "operationId": "getApiAnalytics_dashboard_link",
        "deprecated": false
      }
    },
    "/oauth-clients": {
      "get": {
        "summary": "List OAuth Clients",
        "description": "List all OAuth clients for Sequence account",
        "tags": [],
        "parameters": [
          {
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "name": "limit",
            "required": false,
            "description": "Maximum number of objects to return per-page."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "after",
            "required": false,
            "description": "Pagination offset. To page through items, omit this parameter to retrieve the first page, and then successively use the value you get from `pagination.after` or `pagination.before` to retrieve each page."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "before",
            "required": false,
            "description": "Pagination offset. To page through items, omit this parameter to retrieve the first page, and then successively use the value you get from `pagination.next` or `pagination.previous` to retrieve each page."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "Authorization",
            "required": true,
            "description": "Your [API credentials](/docs/authentication). Eg. `Basic {credentials}`."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "items": [
                    {
                      "id": "7b1f28b9-a4ad-450b-a0ea-fd647d5109b2",
                      "sequenceAccountId": "c9e249d8-5ac9-49af-b9a3-0da9f0946c3d",
                      "name": "Client",
                      "scopes": [
                        "product"
                      ]
                    }
                  ],
                  "pagination": {
                    "after": "ZTMwOWU5NDgtMDg4ZS00ZDc3LWI2NTQtY2Q4NTQ5OGYxNTU1IzE2NTgyNjA4NTYwMzMwMTMjREVTQw==",
                    "before": "NjRlZjJmZjktMmJjYi00M2RiLWI0ZDUtOTAxMDU4MjRiMTdmIzE2NTgyNjA3NTk3NTE2ODEjQVND",
                    "totalResultSize": 100
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ListOAuthClientsEndpointResponseModel"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {}
          }
        },
        "security": [],
        "operationId": "getApiOauth_clients",
        "deprecated": false
      },
      "post": {
        "summary": "Store OAuth client with SHQ Organisation and SHQ Account",
        "tags": [],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "Authorization",
            "required": true,
            "description": "Your [API credentials](/docs/authentication). Eg. `Basic {credentials}`."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "On-Behalf-Of",
            "required": false,
            "description": "The Sequence account that this request is made on behalf of."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "scopes": [
                  "product"
                ],
                "accountId": "7e330949-a175-496a-a060-27821656ce34",
                "clientName": "seqhq-7e330949-a175-496a-a060-27821656ce34"
              },
              "schema": {
                "$ref": "#/components/schemas/CreateOAuthClientRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "example": {
                  "id": "6267e4e5-688e-4eda-92d1-45a4031fe5b2",
                  "name": "seqhq-7e330949-a175-496a-a060-27821656ce34",
                  "secret": "somerandomsecret"
                },
                "schema": {
                  "$ref": "#/components/schemas/CreateOAuthClientResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "example": {
                  "error": {
                    "type": "validationError",
                    "message": "Request data validation failed",
                    "errors": [
                      {
                        "code": "validationError",
                        "message": "field_a should not be blank",
                        "key": "field_a",
                        "errors": []
                      }
                    ]
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {}
          }
        },
        "security": [],
        "operationId": "postApiOauth_clients",
        "deprecated": false
      }
    },
    "/oauth-clients/{id}": {
      "delete": {
        "summary": "Delete OAuth client from SHQ Organisation and SHQ Account",
        "tags": [],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "Authorization",
            "required": true,
            "description": "Your [API credentials](/docs/authentication). Eg. `Basic {credentials}`."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true,
            "description": "Client ID"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "id": "7b1f28b9-a4ad-450b-a0ea-fd647d5109b2",
                  "sequenceAccountId": "c9e249d8-5ac9-49af-b9a3-0da9f0946c3d",
                  "name": "Client",
                  "scopes": [
                    "product"
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/OAuthClient"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "example": {
                  "error": {
                    "type": "validationError",
                    "message": "Request data validation failed",
                    "errors": [
                      {
                        "code": "validationError",
                        "message": "field_a should not be blank",
                        "key": "field_a",
                        "errors": []
                      }
                    ]
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {}
          }
        },
        "security": [],
        "operationId": "deleteApiOauth_clients_id",
        "deprecated": false
      }
    },
    "/recovery": {
      "post": {
        "summary": "Password recovery for user",
        "description": "Initiate the password recovery flow for a given user",
        "tags": [],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "email": "foo@example.com"
              },
              "schema": {
                "$ref": "#/components/schemas/RecoverUserPasswordRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {}
          },
          "404": {
            "description": "",
            "content": {}
          },
          "500": {
            "description": "",
            "content": {}
          }
        },
        "security": [],
        "operationId": "postApiRecovery",
        "deprecated": false
      }
    },
    "/recovery/code": {
      "post": {
        "summary": "Password recovery for user with code",
        "description": "Initiate the password recovery flow for a given user",
        "tags": [],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "email": "foo@example.com"
              },
              "schema": {
                "$ref": "#/components/schemas/RecoverUserPasswordRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {}
          },
          "404": {
            "description": "",
            "content": {}
          },
          "500": {
            "description": "",
            "content": {}
          }
        },
        "security": [],
        "operationId": "postApiRecoveryCode",
        "deprecated": false
      }
    },
    "/recovery/link": {
      "post": {
        "summary": "Password recovery for user with link",
        "description": "Initiate the password recovery flow for a given user",
        "tags": [],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "email": "foo@example.com"
              },
              "schema": {
                "$ref": "#/components/schemas/RecoverUserPasswordRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {}
          },
          "404": {
            "description": "",
            "content": {}
          },
          "500": {
            "description": "",
            "content": {}
          }
        },
        "security": [],
        "operationId": "postApiRecoveryLink",
        "deprecated": false
      }
    },
    "/self": {
      "get": {
        "summary": "Get Self",
        "description": "Retrieve the details of yourself.",
        "tags": [],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "Authorization",
            "required": true,
            "description": "Your [API credentials](/docs/authentication). Eg. `Basic {credentials}`."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "sequenceUser": {
                    "id": "918af48c-9f22-4bed-8462-7df0a9772d44",
                    "email": "xyz@example.com",
                    "createdAt": "2022-06-28T16:47:00Z"
                  },
                  "sequenceAccounts": [
                    "7c8a5a33-4bba-4149-acf0-28877f18117e"
                  ],
                  "launchDarklyHash": "96053e2731801c3aa3c44c550b72af55c75ef0c17cbb1ae51c038368fd8ce7e6"
                },
                "schema": {
                  "$ref": "#/components/schemas/Self"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {}
          }
        },
        "security": [],
        "operationId": "getApiSelf",
        "deprecated": false
      }
    },
    "/sequence-account-id": {
      "get": {
        "summary": "Get Account ID",
        "description": "Retrieve the ID of your [Sequence Account](/docs/organisations-and-accounts).",
        "tags": [],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "Authorization",
            "required": true,
            "description": "Your [API credentials](/docs/authentication). Eg. `Basic {credentials}`."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "id": "13448448-ce43-4874-8acf-8ff2a8ca24c1"
                },
                "schema": {
                  "$ref": "#/components/schemas/GetSequenceAccountIdEndpointGetSequenceAccountIdResponse"
                }
              }
            }
          }
        },
        "security": [],
        "operationId": "getApiSequence_account_id",
        "deprecated": false
      }
    },
    "/sequence-account-settings": {
      "get": {
        "summary": "Get Sequence Account Settings",
        "description": "Get Sequence Account Settings",
        "tags": [],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "Authorization",
            "required": true,
            "description": "Your [API credentials](/docs/authentication). Eg. `Basic {credentials}`."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "id": "613eed4d-5bdf-4fc1-a40a-aa2540b2cdc6",
                  "sequenceAccountId": "5eb477d7-f421-4d30-b99c-757c81021b92",
                  "enabledCurrencies": [
                    "USD",
                    "GBP",
                    "EUR"
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/SequenceAccountSettings"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {}
          },
          "401": {
            "description": "",
            "content": {}
          },
          "500": {
            "description": "",
            "content": {}
          }
        },
        "security": [],
        "operationId": "getApiSequence_account_settings",
        "deprecated": false
      },
      "put": {
        "summary": "Update Sequence Account Settings",
        "description": "Update Sequence Account Settings",
        "tags": [],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "Authorization",
            "required": true,
            "description": "Your [API credentials](/docs/authentication). Eg. `Basic {credentials}`."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "enabledCurrencies": [
                  "USD",
                  "GBP",
                  "EUR"
                ]
              },
              "schema": {
                "$ref": "#/components/schemas/UpdateSequenceAccountSettingsEndpointRequestModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "id": "613eed4d-5bdf-4fc1-a40a-aa2540b2cdc6",
                  "sequenceAccountId": "5eb477d7-f421-4d30-b99c-757c81021b92",
                  "enabledCurrencies": [
                    "USD",
                    "GBP",
                    "EUR"
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/SequenceAccountSettings"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {}
          },
          "401": {
            "description": "",
            "content": {}
          },
          "500": {
            "description": "",
            "content": {}
          }
        },
        "security": [],
        "operationId": "putApiSequence_account_settings",
        "deprecated": false
      }
    },
    "/sequence-accounts": {
      "get": {
        "summary": "List Accounts",
        "description": "List all of your [Sequence Accounts](/docs/organisations-and-accounts).",
        "tags": [],
        "parameters": [
          {
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "name": "limit",
            "required": false,
            "description": "Maximum number of objects to return per-page."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "after",
            "required": false,
            "description": "Pagination offset. To page through items, omit this parameter to retrieve the first page, and then successively use the value you get from `pagination.after` or `pagination.before` to retrieve each page."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "before",
            "required": false,
            "description": "Pagination offset. To page through items, omit this parameter to retrieve the first page, and then successively use the value you get from `pagination.next` or `pagination.previous` to retrieve each page."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "Authorization",
            "required": true,
            "description": "Your [API credentials](/docs/authentication). Eg. `Basic {credentials}`."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "items": [
                    {
                      "id": "7e330949-a175-496a-a060-27821656ce34",
                      "createdAt": "2022-06-28T16:47:00Z",
                      "sequenceOrganisationId": "13448448-ce43-4874-8acf-8ff2a8ca24c1",
                      "companyName": "Acme Inc.",
                      "companyNumber": "GB123987",
                      "country": "GB",
                      "sendCustomerNotifications": true,
                      "alertEmailAddress": "alerts@example.com"
                    }
                  ],
                  "pagination": {
                    "after": "ZTMwOWU5NDgtMDg4ZS00ZDc3LWI2NTQtY2Q4NTQ5OGYxNTU1IzE2NTgyNjA4NTYwMzMwMTMjREVTQw==",
                    "before": "NjRlZjJmZjktMmJjYi00M2RiLWI0ZDUtOTAxMDU4MjRiMTdmIzE2NTgyNjA3NTk3NTE2ODEjQVND",
                    "totalResultSize": 100
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ListSequenceAccountsResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {}
          },
          "403": {
            "description": "",
            "content": {}
          },
          "500": {
            "description": "",
            "content": {}
          }
        },
        "security": [],
        "operationId": "getApiSequence_accounts",
        "deprecated": false
      }
    },
    "/sequence-accounts/{id}": {
      "get": {
        "summary": "Get Account",
        "description": "Retrieve the details of one of your [Sequence Accounts](/docs/organisations-and-accounts).",
        "tags": [],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "Authorization",
            "required": true,
            "description": "Your [API credentials](/docs/authentication). Eg. `Basic {credentials}`."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true,
            "description": "Sequence Account ID"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "id": "13448448-ce43-4874-8acf-8ff2a8ca24c1",
                  "createdAt": "2022-06-28T16:47:00Z",
                  "sequenceOrganisationId": "02441bde-24e8-43d5-8e2d-f3e480778885",
                  "companyName": "Acme Inc.",
                  "companyNumber": "GB123987",
                  "country": "GB",
                  "sendCustomerNotifications": true,
                  "alertEmailAddress": "alerts@example.com"
                },
                "schema": {
                  "$ref": "#/components/schemas/SequenceAccount"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {}
          },
          "500": {
            "description": "",
            "content": {}
          }
        },
        "security": [],
        "operationId": "getApiSequence_accounts_id",
        "deprecated": false
      },
      "put": {
        "summary": "Update Account",
        "description": "Update Sequence account information",
        "tags": [],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "Authorization",
            "required": true,
            "description": "Your [API credentials](/docs/authentication). Eg. `Basic {credentials}`."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true,
            "description": "Sequence Account ID"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "alertEmailAddress": "alerts@example.com"
              },
              "schema": {
                "$ref": "#/components/schemas/UpdateSequenceAccountProductEndpointUpdateSequenceAccountRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "id": "b6b0bb79-7b03-4cc0-9c70-2d3aec3aeb17",
                  "createdAt": "2022-06-28T16:47:00Z",
                  "sequenceOrganisationId": "e4f49f12-38cf-4fcf-ad2a-0ae7d83d6be4",
                  "companyName": "Acme Inc.",
                  "companyNumber": "GB123988",
                  "country": "GB",
                  "sendCustomerNotifications": true,
                  "alertEmailAddress": "alerts@example.com"
                },
                "schema": {
                  "$ref": "#/components/schemas/SequenceAccount"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {}
          },
          "500": {
            "description": "",
            "content": {}
          }
        },
        "security": [],
        "operationId": "putApiSequence_accounts_id",
        "deprecated": false
      }
    },
    "/single-sign-on-domains": {
      "get": {
        "summary": "List all Single Sign On Domains",
        "description": "List all Single Sign On Domains",
        "tags": [],
        "parameters": [
          {
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "name": "limit",
            "required": false,
            "description": "Maximum number of objects to return per-page."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "after",
            "required": false,
            "description": "Pagination offset. To page through items, omit this parameter to retrieve the first page, and then successively use the value you get from `pagination.after` or `pagination.before` to retrieve each page."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "before",
            "required": false,
            "description": "Pagination offset. To page through items, omit this parameter to retrieve the first page, and then successively use the value you get from `pagination.next` or `pagination.previous` to retrieve each page."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "Authorization",
            "required": true,
            "description": "Your [API credentials](/docs/authentication). Eg. `Basic {credentials}`."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "items": [
                    {
                      "id": "8f125b2b-a573-4b1a-b286-804ec3cfcacd",
                      "sequenceAccountId": "a2e7ec72-e3b1-4349-8d8b-c1ad3cea03a1",
                      "domain": "sequencehq.com",
                      "isDiscoverable": true
                    }
                  ],
                  "pagination": {
                    "after": "MDE4NDUyNjYtNmQ2NC03N2M4LTlhZGYtNDQ4N2Q5NGQxNDU3",
                    "before": "MDE4NDQyMWUtYTljYy03MTFiLWFmOTMtYmYwNTExZDRkODMz",
                    "totalResultSize": 10
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ListSingleSignOnDomainEndpointProductListSingleSignOnDomainPaginatedResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {}
          },
          "401": {
            "description": "",
            "content": {}
          },
          "500": {
            "description": "",
            "content": {}
          }
        },
        "security": [],
        "operationId": "getApiSingle_sign_on_domains",
        "deprecated": false
      },
      "post": {
        "summary": "Create a new Single Sign On Domain",
        "description": "Create a new Single Sign On Domain",
        "tags": [],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "Authorization",
            "required": true,
            "description": "Your [API credentials](/docs/authentication). Eg. `Basic {credentials}`."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "sequenceAccountId": "a2e7ec72-e3b1-4349-8d8b-c1ad3cea03a1",
                "domain": "sequencehq.com",
                "isDiscoverable": true
              },
              "schema": {
                "$ref": "#/components/schemas/CreateSingleSignOnDomainEndpointCreateSingleSignOnDomainRequestModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "example": {
                  "id": "8f125b2b-a573-4b1a-b286-804ec3cfcacd",
                  "sequenceAccountId": "a2e7ec72-e3b1-4349-8d8b-c1ad3cea03a1",
                  "domain": "sequencehq.com",
                  "isDiscoverable": true
                },
                "schema": {
                  "$ref": "#/components/schemas/CreateSingleSignOnDomainEndpointProductCreateSingleSignOnDomainResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {}
          },
          "401": {
            "description": "",
            "content": {}
          },
          "500": {
            "description": "",
            "content": {}
          }
        },
        "security": [],
        "operationId": "postApiSingle_sign_on_domains",
        "deprecated": false
      }
    },
    "/single-sign-on-domains/{id}": {
      "delete": {
        "summary": "Delete a Single Sign On Domain",
        "description": "Delete a Single Sign On Domain",
        "tags": [],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "Authorization",
            "required": true,
            "description": "Your [API credentials](/docs/authentication). Eg. `Basic {credentials}`."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true,
            "description": "Unique ID"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "id": "8f125b2b-a573-4b1a-b286-804ec3cfcacd",
                  "sequenceAccountId": "a2e7ec72-e3b1-4349-8d8b-c1ad3cea03a1",
                  "domain": "sequencehq.com",
                  "isDiscoverable": true
                },
                "schema": {
                  "$ref": "#/components/schemas/DeleteSingleSignOnDomainEndpointProductDeleteSingleSignOnDomainResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {}
          },
          "401": {
            "description": "",
            "content": {}
          },
          "500": {
            "description": "",
            "content": {}
          }
        },
        "security": [],
        "operationId": "deleteApiSingle_sign_on_domains_id",
        "deprecated": false
      },
      "get": {
        "summary": "Get a Single Sign On Domain by ID",
        "description": "Get a Single Sign On Domain by ID",
        "tags": [],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "Authorization",
            "required": true,
            "description": "Your [API credentials](/docs/authentication). Eg. `Basic {credentials}`."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true,
            "description": "Unique ID"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "id": "8f125b2b-a573-4b1a-b286-804ec3cfcacd",
                  "sequenceAccountId": "a2e7ec72-e3b1-4349-8d8b-c1ad3cea03a1",
                  "domain": "sequencehq.com",
                  "isDiscoverable": true
                },
                "schema": {
                  "$ref": "#/components/schemas/GetSingleSignOnDomainEndpointProductGetSingleSignOnDomainResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {}
          },
          "401": {
            "description": "",
            "content": {}
          },
          "500": {
            "description": "",
            "content": {}
          }
        },
        "security": [],
        "operationId": "getApiSingle_sign_on_domains_id",
        "deprecated": false
      },
      "put": {
        "summary": "Update a Single Sign On Domain",
        "description": "Update a Single Sign On Domain",
        "tags": [],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "Authorization",
            "required": true,
            "description": "Your [API credentials](/docs/authentication). Eg. `Basic {credentials}`."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true,
            "description": "Unique ID"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "isDiscoverable": true
              },
              "schema": {
                "$ref": "#/components/schemas/UpdateSingleSignOnDomainEndpointUpdateSingleSignOnDomainRequestModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "id": "8f125b2b-a573-4b1a-b286-804ec3cfcacd",
                  "sequenceAccountId": "a2e7ec72-e3b1-4349-8d8b-c1ad3cea03a1",
                  "domain": "sequencehq.com",
                  "isDiscoverable": true
                },
                "schema": {
                  "$ref": "#/components/schemas/UpdateSingleSignOnDomainEndpointProductUpdateSingleSignOnDomainResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {}
          },
          "401": {
            "description": "",
            "content": {}
          },
          "500": {
            "description": "",
            "content": {}
          }
        },
        "security": [],
        "operationId": "putApiSingle_sign_on_domains_id",
        "deprecated": false
      }
    },
    "/user-invites": {
      "get": {
        "summary": "List all UserInvites",
        "description": "List all UserInvites",
        "tags": [],
        "parameters": [
          {
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "name": "limit",
            "required": false,
            "description": "Maximum number of objects to return per-page."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "after",
            "required": false,
            "description": "Pagination offset. To page through items, omit this parameter to retrieve the first page, and then successively use the value you get from `pagination.after` or `pagination.before` to retrieve each page."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "before",
            "required": false,
            "description": "Pagination offset. To page through items, omit this parameter to retrieve the first page, and then successively use the value you get from `pagination.next` or `pagination.previous` to retrieve each page."
          },
          {
            "schema": {
              "type": "boolean"
            },
            "in": "query",
            "name": "consumed",
            "required": false,
            "description": "Whether the invite has been consumed or not"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "Authorization",
            "required": true,
            "description": "Your [API credentials](/docs/authentication). Eg. `Basic {credentials}`."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "items": [
                    {
                      "id": "54c5a2a1-e669-4506-bbaf-7c0378c7eb3d",
                      "email": "user@example.com"
                    }
                  ],
                  "pagination": {
                    "after": "MDE4NDUyNjYtNmQ2NC03N2M4LTlhZGYtNDQ4N2Q5NGQxNDU3",
                    "before": "MDE4NDQyMWUtYTljYy03MTFiLWFmOTMtYmYwNTExZDRkODMz",
                    "totalResultSize": 10
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ListUserInviteEndpointProductListUserInvitePaginatedResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {}
          },
          "401": {
            "description": "",
            "content": {}
          },
          "500": {
            "description": "",
            "content": {}
          }
        },
        "security": [],
        "operationId": "getApiUser_invites",
        "deprecated": false
      },
      "post": {
        "summary": "Create a new User Invite",
        "description": "Create a new User Invite",
        "tags": [],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "Authorization",
            "required": true,
            "description": "Your [API credentials](/docs/authentication). Eg. `Basic {credentials}`."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "email": "user@example.com"
              },
              "schema": {
                "$ref": "#/components/schemas/CreateUserInviteEndpointCreateUserInviteRequestModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "example": {
                  "id": "54c5a2a1-e669-4506-bbaf-7c0378c7eb3d",
                  "email": "user@example.com"
                },
                "schema": {
                  "$ref": "#/components/schemas/CreateUserInviteEndpointProductCreateUserInviteResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {}
          },
          "401": {
            "description": "",
            "content": {}
          },
          "500": {
            "description": "",
            "content": {}
          }
        },
        "security": [],
        "operationId": "postApiUser_invites",
        "deprecated": false
      }
    },
    "/user-invites/{id}": {
      "delete": {
        "summary": "Delete an User Invite",
        "description": "Delete an User Invite",
        "tags": [],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "Authorization",
            "required": true,
            "description": "Your [API credentials](/docs/authentication). Eg. `Basic {credentials}`."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true,
            "description": "id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "id": "54c5a2a1-e669-4506-bbaf-7c0378c7eb3d",
                  "email": "user@example.com"
                },
                "schema": {
                  "$ref": "#/components/schemas/DeleteUserInviteEndpointProductDeleteUserInviteResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {}
          },
          "401": {
            "description": "",
            "content": {}
          },
          "500": {
            "description": "",
            "content": {}
          }
        },
        "security": [],
        "operationId": "deleteApiUser_invites_id",
        "deprecated": false
      },
      "get": {
        "summary": "Get an User Invite by ID",
        "description": "Get an User Invite by ID",
        "tags": [],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "Authorization",
            "required": true,
            "description": "Your [API credentials](/docs/authentication). Eg. `Basic {credentials}`."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true,
            "description": "id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "id": "54c5a2a1-e669-4506-bbaf-7c0378c7eb3d",
                  "email": "user@example.com"
                },
                "schema": {
                  "$ref": "#/components/schemas/GetUserInviteEndpointProductGetUserInviteResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {}
          },
          "401": {
            "description": "",
            "content": {}
          },
          "500": {
            "description": "",
            "content": {}
          }
        },
        "security": [],
        "operationId": "getApiUser_invites_id",
        "deprecated": false
      },
      "put": {
        "summary": "Update an User Invite",
        "description": "Update an User Invite",
        "tags": [],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "Authorization",
            "required": true,
            "description": "Your [API credentials](/docs/authentication). Eg. `Basic {credentials}`."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true,
            "description": "id"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "email": "user@example.com"
              },
              "schema": {
                "$ref": "#/components/schemas/UpdateUserInviteEndpointUpdateUserInviteRequestModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "id": "54c5a2a1-e669-4506-bbaf-7c0378c7eb3d",
                  "email": "user@example.com"
                },
                "schema": {
                  "$ref": "#/components/schemas/UpdateUserInviteEndpointProductUpdateUserInviteResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {}
          },
          "401": {
            "description": "",
            "content": {}
          },
          "500": {
            "description": "",
            "content": {}
          }
        },
        "security": [],
        "operationId": "putApiUser_invites_id",
        "deprecated": false
      }
    },
    "/users": {
      "get": {
        "summary": "List Users",
        "description": "List all Users within your Sequence Organisation",
        "tags": [],
        "parameters": [
          {
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "name": "limit",
            "required": false,
            "description": "Maximum number of objects to return per-page."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "after",
            "required": false,
            "description": "Pagination offset. To page through items, omit this parameter to retrieve the first page, and then successively use the value you get from `pagination.after` or `pagination.before` to retrieve each page."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "before",
            "required": false,
            "description": "Pagination offset. To page through items, omit this parameter to retrieve the first page, and then successively use the value you get from `pagination.next` or `pagination.previous` to retrieve each page."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "Authorization",
            "required": true,
            "description": "Your [API credentials](/docs/authentication). Eg. `Basic {credentials}`."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "items": [
                    {
                      "id": "7b1f28b9-a4ad-450b-a0ea-fd647d5109b2",
                      "email": "john@example.xyz",
                      "sequenceAccountIds": [
                        "83da2ca4-49c7-4d81-9c9a-ba5be11768b0",
                        "c0901c87-e1a9-48e9-9e2f-9e05c402dcea"
                      ],
                      "state": "active"
                    }
                  ],
                  "pagination": {
                    "after": "ZTMwOWU5NDgtMDg4ZS00ZDc3LWI2NTQtY2Q4NTQ5OGYxNTU1IzE2NTgyNjA4NTYwMzMwMTMjREVTQw==",
                    "before": "NjRlZjJmZjktMmJjYi00M2RiLWI0ZDUtOTAxMDU4MjRiMTdmIzE2NTgyNjA3NTk3NTE2ODEjQVND",
                    "totalResultSize": 100
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ListSequenceUsersResponse"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {}
          }
        },
        "security": [],
        "operationId": "getApiUsers",
        "deprecated": false
      },
      "post": {
        "summary": "Create User",
        "description": "Create a new User.",
        "tags": [],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "Authorization",
            "required": true,
            "description": "Your [API credentials](/docs/authentication). Eg. `Basic {credentials}`."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "email": "foo@example.com",
                "sequenceAccountIds": [
                  "216e7817-1b36-4bc4-9d21-cf1dbf631b04"
                ]
              },
              "schema": {
                "$ref": "#/components/schemas/CreateSequenceUserRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "example": {
                  "id": "918af48c-9f22-4bed-8462-7df0a9772d44",
                  "email": "xyz@example.com",
                  "createdAt": "2022-06-28T16:47:00Z"
                },
                "schema": {
                  "$ref": "#/components/schemas/SequenceUser"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "example": {
                  "error": {
                    "type": "Duplicate User",
                    "message": "A user with the same email is already registered."
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {}
          }
        },
        "security": [],
        "operationId": "postApiUsers",
        "deprecated": false
      }
    },
    "/users/code": {
      "post": {
        "summary": "Create User with code",
        "description": "Create a new User.",
        "tags": [],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "Authorization",
            "required": true,
            "description": "Your [API credentials](/docs/authentication). Eg. `Basic {credentials}`."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "email": "foo@example.com",
                "sequenceAccountIds": [
                  "216e7817-1b36-4bc4-9d21-cf1dbf631b04"
                ]
              },
              "schema": {
                "$ref": "#/components/schemas/CreateSequenceUserRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "example": {
                  "id": "918af48c-9f22-4bed-8462-7df0a9772d44",
                  "email": "xyz@example.com",
                  "createdAt": "2022-06-28T16:47:00Z"
                },
                "schema": {
                  "$ref": "#/components/schemas/SequenceUser"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "example": {
                  "error": {
                    "type": "Duplicate User",
                    "message": "A user with the same email is already registered."
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {}
          }
        },
        "security": [],
        "operationId": "postApiUsersCode",
        "deprecated": false
      }
    },
    "/users/link": {
      "post": {
        "summary": "Create User with link",
        "description": "Create a new User.",
        "tags": [],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "Authorization",
            "required": true,
            "description": "Your [API credentials](/docs/authentication). Eg. `Basic {credentials}`."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "email": "foo@example.com",
                "sequenceAccountIds": [
                  "216e7817-1b36-4bc4-9d21-cf1dbf631b04"
                ]
              },
              "schema": {
                "$ref": "#/components/schemas/CreateSequenceUserRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "example": {
                  "id": "918af48c-9f22-4bed-8462-7df0a9772d44",
                  "email": "xyz@example.com",
                  "createdAt": "2022-06-28T16:47:00Z"
                },
                "schema": {
                  "$ref": "#/components/schemas/SequenceUser"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "example": {
                  "error": {
                    "type": "Duplicate User",
                    "message": "A user with the same email is already registered."
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {}
          }
        },
        "security": [],
        "operationId": "postApiUsersLink",
        "deprecated": false
      }
    },
    "/users/{id}": {
      "delete": {
        "summary": "Delete User",
        "description": "Delete one of your Users.",
        "tags": [],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "Authorization",
            "required": true,
            "description": "Your [API credentials](/docs/authentication). Eg. `Basic {credentials}`."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true,
            "description": "Sequence User ID"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "id": "7b1f28b9-a4ad-450b-a0ea-fd647d5109b2",
                  "email": "person@example.com",
                  "sequenceAccountIds": [
                    "724c4f93-8606-4a38-bfbf-50a7045e4eaa"
                  ],
                  "state": "active"
                },
                "schema": {
                  "$ref": "#/components/schemas/SequenceUserResponse"
                }
              }
            }
          }
        },
        "security": [],
        "operationId": "deleteApiUsers_id",
        "deprecated": false
      },
      "get": {
        "summary": "Get User",
        "description": "Retrieve the details of one of your Users.",
        "tags": [],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "Authorization",
            "required": true,
            "description": "Your [API credentials](/docs/authentication). Eg. `Basic {credentials}`."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true,
            "description": "Sequence User ID"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "id": "7b1f28b9-a4ad-450b-a0ea-fd647d5109b2",
                  "email": "person@example.com",
                  "sequenceAccountIds": [
                    "724c4f93-8606-4a38-bfbf-50a7045e4eaa"
                  ],
                  "state": "active"
                },
                "schema": {
                  "$ref": "#/components/schemas/SequenceUserResponse"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {}
          }
        },
        "security": [],
        "operationId": "getApiUsers_id",
        "deprecated": false
      },
      "put": {
        "summary": "Update User",
        "description": "Update the details of one of your Users.",
        "tags": [],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "Authorization",
            "required": true,
            "description": "Your [API credentials](/docs/authentication). Eg. `Basic {credentials}`."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true,
            "description": "Sequence User ID"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "sequenceAccountIds": [
                  "c9e249d8-5ac9-49af-b9a3-0da9f0946c3d"
                ]
              },
              "schema": {
                "$ref": "#/components/schemas/UpdateSequenceUserRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "example": {
                  "id": "ca88f667-a17a-4c84-a8ee-8a4293834ff4",
                  "sequenceAccountIds": [
                    "c9e249d8-5ac9-49af-b9a3-0da9f0946c3d"
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/UpdateSequenceUserResponse"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {}
          }
        },
        "security": [],
        "operationId": "putApiUsers_id",
        "deprecated": false
      }
    },
    "/customer-aliases": {
      "get": {
        "summary": "List all Customer Aliases",
        "description": "List all Customer Aliases",
        "tags": [],
        "parameters": [
          {
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "name": "limit",
            "required": false,
            "description": "Maximum number of objects to return per-page."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "after",
            "required": false,
            "description": "Pagination offset. To page through items, omit this parameter to retrieve the first page, and then successively use the value you get from `pagination.after` or `pagination.before` to retrieve each page."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "before",
            "required": false,
            "description": "Pagination offset. To page through items, omit this parameter to retrieve the first page, and then successively use the value you get from `pagination.next` or `pagination.previous` to retrieve each page."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "Authorization",
            "required": true,
            "description": "Your [API credentials](/docs/authentication). Eg. `Basic {credentials}`."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "items": [
                    {
                      "id": "01849e70-0a0f-72ca-ba07-5557dd734d43",
                      "sequenceAccountId": "ec1479a2-6ba1-421f-a7de-0853a20d17a1",
                      "customerId": "01849e70-703e-705a-b59a-d3fd575587e0",
                      "value": "external-customer-alias-123",
                      "createdAt": "2022-10-01T00:00:00Z",
                      "deletedAt": "2022-10-01T00:00:00Z"
                    }
                  ],
                  "pagination": {
                    "after": "MDE4NDUyNjYtNmQ2NC03N2M4LTlhZGYtNDQ4N2Q5NGQxNDU3",
                    "before": "MDE4NDQyMWUtYTljYy03MTFiLWFmOTMtYmYwNTExZDRkODMz",
                    "totalResultSize": 10
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ListCustomerAliasEndpointProductListCustomerAliasPaginatedResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {}
          },
          "401": {
            "description": "",
            "content": {}
          },
          "500": {
            "description": "",
            "content": {}
          }
        },
        "security": [],
        "operationId": "getApiCustomer_aliases",
        "deprecated": false
      },
      "post": {
        "summary": "Create a new Customer Alias",
        "description": "Create a new Customer Alias",
        "tags": [],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "Authorization",
            "required": true,
            "description": "Your [API credentials](/docs/authentication). Eg. `Basic {credentials}`."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "sequenceAccountId": "ec1479a2-6ba1-421f-a7de-0853a20d17a1",
                "customerId": "01849e70-703e-705a-b59a-d3fd575587e0",
                "value": "external-customer-alias-123",
                "deletedAt": "2022-10-01T00:00:00Z"
              },
              "schema": {
                "$ref": "#/components/schemas/CreateCustomerAliasEndpointCreateCustomerAliasRequestModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "example": {
                  "id": "01849e70-0a0f-72ca-ba07-5557dd734d43",
                  "sequenceAccountId": "ec1479a2-6ba1-421f-a7de-0853a20d17a1",
                  "customerId": "01849e70-703e-705a-b59a-d3fd575587e0",
                  "value": "external-customer-alias-123",
                  "createdAt": "2022-10-01T00:00:00Z",
                  "deletedAt": "2022-10-01T00:00:00Z"
                },
                "schema": {
                  "$ref": "#/components/schemas/CreateCustomerAliasEndpointProductCreateCustomerAliasResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {}
          },
          "401": {
            "description": "",
            "content": {}
          },
          "500": {
            "description": "",
            "content": {}
          }
        },
        "security": [],
        "operationId": "postApiCustomer_aliases",
        "deprecated": false
      }
    },
    "/customer-aliases/{id}": {
      "delete": {
        "summary": "Delete a Customer Alias",
        "description": "Delete a Customer Alias",
        "tags": [],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "Authorization",
            "required": true,
            "description": "Your [API credentials](/docs/authentication). Eg. `Basic {credentials}`."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true,
            "description": "Unique ID"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "id": "01849e70-0a0f-72ca-ba07-5557dd734d43",
                  "sequenceAccountId": "ec1479a2-6ba1-421f-a7de-0853a20d17a1",
                  "customerId": "01849e70-703e-705a-b59a-d3fd575587e0",
                  "value": "external-customer-alias-123",
                  "createdAt": "2022-10-01T00:00:00Z",
                  "deletedAt": "2022-10-01T00:00:00Z"
                },
                "schema": {
                  "$ref": "#/components/schemas/DeleteCustomerAliasEndpointProductDeleteCustomerAliasResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {}
          },
          "401": {
            "description": "",
            "content": {}
          },
          "500": {
            "description": "",
            "content": {}
          }
        },
        "security": [],
        "operationId": "deleteApiCustomer_aliases_id",
        "deprecated": false
      }
    },
    "/customers": {
      "get": {
        "summary": "List Customers",
        "description": "List all [Customers](/docs/customers) within one of your [Sequence Accounts](/docs/organisations-and-accounts).",
        "tags": [],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "before",
            "required": false,
            "description": "Pagination cursor. To page through items, omit this parameter to retrieve the first page, and then successively use the value you get from `pagination.after` or `pagination.before` to retrieve each page."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "after",
            "required": false,
            "description": "Pagination cursor. To page through items, omit this parameter to retrieve the first page, and then successively use the value you get from `pagination.after` or `pagination.before` to retrieve each page."
          },
          {
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "name": "limit",
            "required": false,
            "description": "Maximum number of objects to return per-page."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "sortOrder",
            "required": false,
            "description": "Sort order. Default: DESC (descending, most often used for reverse chronological sorting)."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "sortBy",
            "required": false,
            "description": "Sort column. Default: creation time."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "legalName",
            "required": false,
            "description": "Filter by legal name"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "email",
            "required": false,
            "description": "Filter by email"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "alias",
            "required": false,
            "description": "Filter by alias"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "Authorization",
            "required": true,
            "description": "Your [API credentials](/docs/authentication). Eg. `Basic {credentials}`."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "items": [
                    {
                      "id": "e309e948-088e-4d77-b654-cd85498f1555",
                      "createdAt": "2022-06-28T16:47:00Z",
                      "sequenceAccountId": "25b3c342-6fa6-4375-9ed3-616f05abb77a",
                      "legalName": "John Doe",
                      "contactName": "John Doe",
                      "address": {
                        "line1": "Flat 1",
                        "line2": "123 Fake Street",
                        "town": "London",
                        "postcode": "AB1 2EF",
                        "country": "GB"
                      },
                      "email": "john@example.com",
                      "billingEmails": [
                        "exampleCorpInvoices@example.com"
                      ],
                      "telephone": "02010001000",
                      "url": "https://example.com/",
                      "taxStatus": "TAXED",
                      "label": "Example customer",
                      "externalIds": [
                        {
                          "key": "Xero",
                          "value": "ID",
                          "syncTime": "2022-06-28T16:47:00Z"
                        },
                        {
                          "key": "Stripe",
                          "value": "cus_OCtCxqQDgu1uX9",
                          "syncTime": "2022-06-28T16:47:00Z"
                        }
                      ]
                    }
                  ],
                  "pagination": {
                    "after": "MDE4NDUyNjYtNmQ2NC03N2M4LTlhZGYtNDQ4N2Q5NGQxNDU3",
                    "before": "MDE4NDQyMWUtYTljYy03MTFiLWFmOTMtYmYwNTExZDRkODMz",
                    "totalResultSize": 10
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ListCustomersResponse"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {}
          },
          "500": {
            "description": "",
            "content": {}
          }
        },
        "security": [],
        "operationId": "getApiCustomers",
        "deprecated": false
      },
      "post": {
        "summary": "Create Customer",
        "description": "Create a new [Customer](/docs/customers), who you can send money to and receive money from.",
        "tags": [],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "Authorization",
            "required": true,
            "description": "Your [API credentials](/docs/authentication). Eg. `Basic {credentials}`."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "legalName": "John Doe",
                "contactName": "John Doe",
                "address": {
                  "line1": "Flat 1",
                  "line2": "123 Fake Street",
                  "town": "London",
                  "postcode": "AB1 2EF",
                  "country": "GB"
                },
                "email": "john@example.com",
                "billingEmails": [
                  "exampleCorpInvoices@example.com"
                ],
                "telephone": "john@example.com",
                "url": "https://example.com/",
                "label": "Example customer",
                "taxStatus": "TAXED",
                "customerAliases": [
                  "b1c87177-088a-40ec-8917-9809343f3f9c"
                ],
                "externalIds": [
                  {
                    "key": "Xero",
                    "value": "123456789"
                  },
                  {
                    "key": "Stripe",
                    "value": "cus_OCtCxqQDgu1uX9"
                  },
                  {
                    "key": "HubSpot",
                    "value": "123456789"
                  }
                ]
              },
              "schema": {
                "$ref": "#/components/schemas/CreateCustomerRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "example": {
                  "customer": {
                    "id": "e309e948-088e-4d77-b654-cd85498f1555",
                    "createdAt": "2022-06-28T16:47:00Z",
                    "sequenceAccountId": "25b3c342-6fa6-4375-9ed3-616f05abb77a",
                    "legalName": "John Doe",
                    "contactName": "John Doe",
                    "address": {
                      "line1": "Flat 1",
                      "line2": "123 Fake Street",
                      "town": "London",
                      "postcode": "AB1 2EF",
                      "country": "GB"
                    },
                    "email": "john@example.com",
                    "billingEmails": [
                      "exampleCorpInvoices@example.com"
                    ],
                    "telephone": "02010001000",
                    "url": "https://example.com/",
                    "taxStatus": "TAXED",
                    "label": "Example customer",
                    "externalIds": [
                      {
                        "key": "Xero",
                        "value": "ID",
                        "syncTime": "2022-06-28T16:47:00Z"
                      },
                      {
                        "key": "Stripe",
                        "value": "cus_OCtCxqQDgu1uX9",
                        "syncTime": "2022-06-28T16:47:00Z"
                      }
                    ]
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/CreateCustomerResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {}
          }
        },
        "security": [],
        "operationId": "postApiCustomers",
        "deprecated": false
      }
    },
    "/customers/by-alias/{alias}": {
      "get": {
        "summary": "Get Customer By Alias",
        "description": "Retrieve the details of one of your [Customers](/docs/customers) using one of their aliases.",
        "tags": [],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "Authorization",
            "required": true,
            "description": "Your [API credentials](/docs/authentication). Eg. `Basic {credentials}`."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "alias",
            "required": true,
            "description": "Customer Alias"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "id": "e309e948-088e-4d77-b654-cd85498f1555",
                  "createdAt": "2022-06-28T16:47:00Z",
                  "sequenceAccountId": "25b3c342-6fa6-4375-9ed3-616f05abb77a",
                  "legalName": "John Doe",
                  "contactName": "John Doe",
                  "address": {
                    "line1": "Flat 1",
                    "line2": "123 Fake Street",
                    "town": "London",
                    "postcode": "AB1 2EF",
                    "country": "GB"
                  },
                  "email": "john@example.com",
                  "billingEmails": [
                    "exampleCorpInvoices@example.com"
                  ],
                  "telephone": "02010001000",
                  "url": "https://example.com/",
                  "taxStatus": "TAXED",
                  "label": "Example customer",
                  "externalIds": [
                    {
                      "key": "Xero",
                      "value": "ID",
                      "syncTime": "2022-06-28T16:47:00Z"
                    },
                    {
                      "key": "Stripe",
                      "value": "cus_OCtCxqQDgu1uX9",
                      "syncTime": "2022-06-28T16:47:00Z"
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {}
          },
          "404": {
            "description": "",
            "content": {}
          },
          "500": {
            "description": "",
            "content": {}
          }
        },
        "security": [],
        "operationId": "getApiCustomersBy_alias_alias",
        "deprecated": false
      }
    },
    "/customers/{customer}/contacts": {
      "post": {
        "summary": "Create a new Contact",
        "description": "Create a new Contact",
        "tags": [],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "Authorization",
            "required": true,
            "description": "Your [API credentials](/docs/authentication). Eg. `Basic {credentials}`."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "customer",
            "required": true,
            "description": "The Customer ID"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "sequenceAccountId": "25b3c342-6fa6-4375-9ed3-616f05abb77a",
                "customerId": "e309e948-088e-4d77-b654-cd85498f1555",
                "email": "jane.smith@example.com",
                "firstName": "Jane",
                "lastName": "Smith",
                "contactType": "QUOTE_RECIPIENT",
                "deletedAt": "2022-06-28T16:47:00Z"
              },
              "schema": {
                "$ref": "#/components/schemas/CreateContactEndpointCreateContactRequestModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "example": {
                  "id": "9a1e38a9-4dc9-776f-f974-4e7ee9f4d6cc",
                  "sequenceAccountId": "25b3c342-6fa6-4375-9ed3-616f05abb77a",
                  "customerId": "e309e948-088e-4d77-b654-cd85498f1555",
                  "email": "jane.smith@example.com",
                  "firstName": "Jane",
                  "lastName": "Smith",
                  "contactType": "QUOTE_RECIPIENT",
                  "createdAt": "2022-06-28T16:47:00Z",
                  "deletedAt": "2022-06-28T16:47:00Z"
                },
                "schema": {
                  "$ref": "#/components/schemas/CreateContactEndpointProductCreateContactResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {}
          },
          "401": {
            "description": "",
            "content": {}
          },
          "500": {
            "description": "",
            "content": {}
          }
        },
        "security": [],
        "operationId": "postApiCustomers_customer_Contacts",
        "deprecated": false
      }
    },
    "/customers/{customer}/contacts/{id}": {
      "delete": {
        "summary": "Delete a Contact",
        "description": "Delete a Contact",
        "tags": [],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "Authorization",
            "required": true,
            "description": "Your [API credentials](/docs/authentication). Eg. `Basic {credentials}`."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "customer",
            "required": true,
            "description": "The Customer ID"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true,
            "description": "Unique ID"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "id": "9a1e38a9-4dc9-776f-f974-4e7ee9f4d6cc",
                  "sequenceAccountId": "25b3c342-6fa6-4375-9ed3-616f05abb77a",
                  "customerId": "e309e948-088e-4d77-b654-cd85498f1555",
                  "email": "jane.smith@example.com",
                  "firstName": "Jane",
                  "lastName": "Smith",
                  "contactType": "QUOTE_RECIPIENT",
                  "createdAt": "2022-06-28T16:47:00Z",
                  "deletedAt": "2022-06-28T16:47:00Z"
                },
                "schema": {
                  "$ref": "#/components/schemas/DeleteContactEndpointProductDeleteContactResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {}
          },
          "401": {
            "description": "",
            "content": {}
          },
          "500": {
            "description": "",
            "content": {}
          }
        },
        "security": [],
        "operationId": "deleteApiCustomers_customer_Contacts_id",
        "deprecated": false
      },
      "put": {
        "summary": "Update a Contact",
        "description": "Update a Contact",
        "tags": [],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "Authorization",
            "required": true,
            "description": "Your [API credentials](/docs/authentication). Eg. `Basic {credentials}`."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "customer",
            "required": true,
            "description": "The Customer ID"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true,
            "description": "Unique ID"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "email": "jane.smith@example.com",
                "firstName": "Jane",
                "lastName": "Smith",
                "contactType": "QUOTE_RECIPIENT"
              },
              "schema": {
                "$ref": "#/components/schemas/UpdateContactEndpointUpdateContactRequestModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "id": "9a1e38a9-4dc9-776f-f974-4e7ee9f4d6cc",
                  "sequenceAccountId": "25b3c342-6fa6-4375-9ed3-616f05abb77a",
                  "customerId": "e309e948-088e-4d77-b654-cd85498f1555",
                  "email": "jane.smith@example.com",
                  "firstName": "Jane",
                  "lastName": "Smith",
                  "contactType": "QUOTE_RECIPIENT",
                  "createdAt": "2022-06-28T16:47:00Z",
                  "deletedAt": "2022-06-28T16:47:00Z"
                },
                "schema": {
                  "$ref": "#/components/schemas/UpdateContactEndpointProductUpdateContactResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {}
          },
          "401": {
            "description": "",
            "content": {}
          },
          "500": {
            "description": "",
            "content": {}
          }
        },
        "security": [],
        "operationId": "putApiCustomers_customer_Contacts_id",
        "deprecated": false
      }
    },
    "/customers/{id}": {
      "delete": {
        "summary": "Delete a Customer",
        "description": "Delete one of your Customers",
        "tags": [],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "Authorization",
            "required": true,
            "description": "Your [API credentials](/docs/authentication). Eg. `Basic {credentials}`."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true,
            "description": "Customer ID"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "id": "e309e948-088e-4d77-b654-cd85498f1555",
                  "createdAt": "2022-06-28T16:47:00Z",
                  "sequenceAccountId": "25b3c342-6fa6-4375-9ed3-616f05abb77a",
                  "legalName": "John Doe",
                  "contactName": "John Doe",
                  "address": {
                    "line1": "Flat 1",
                    "line2": "123 Fake Street",
                    "town": "London",
                    "postcode": "AB1 2EF",
                    "country": "GB"
                  },
                  "email": "john@example.com",
                  "billingEmails": [
                    "exampleCorpInvoices@example.com"
                  ],
                  "telephone": "02010001000",
                  "url": "https://example.com/",
                  "taxStatus": "TAXED",
                  "label": "Example customer",
                  "externalIds": [
                    {
                      "key": "Xero",
                      "value": "ID",
                      "syncTime": "2022-06-28T16:47:00Z"
                    },
                    {
                      "key": "Stripe",
                      "value": "cus_OCtCxqQDgu1uX9",
                      "syncTime": "2022-06-28T16:47:00Z"
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {}
          },
          "404": {
            "description": "",
            "content": {}
          },
          "500": {
            "description": "",
            "content": {}
          }
        },
        "security": [],
        "operationId": "deleteApiCustomers_id",
        "deprecated": false
      },
      "get": {
        "summary": "Get Customer",
        "description": "Retrieve the details of one of your [Customers](/docs/customers).",
        "tags": [],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "Authorization",
            "required": true,
            "description": "Your [API credentials](/docs/authentication). Eg. `Basic {credentials}`."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true,
            "description": "Customer ID"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "id": "e309e948-088e-4d77-b654-cd85498f1555",
                  "createdAt": "2022-06-28T16:47:00Z",
                  "sequenceAccountId": "25b3c342-6fa6-4375-9ed3-616f05abb77a",
                  "legalName": "John Doe",
                  "contactName": "John Doe",
                  "address": {
                    "line1": "Flat 1",
                    "line2": "123 Fake Street",
                    "town": "London",
                    "postcode": "AB1 2EF",
                    "country": "GB"
                  },
                  "email": "john@example.com",
                  "billingEmails": [
                    "exampleCorpInvoices@example.com"
                  ],
                  "telephone": "02010001000",
                  "url": "https://example.com/",
                  "taxStatus": "TAXED",
                  "label": "Example customer",
                  "externalIds": [
                    {
                      "key": "Xero",
                      "value": "ID",
                      "syncTime": "2022-06-28T16:47:00Z"
                    },
                    {
                      "key": "Stripe",
                      "value": "cus_OCtCxqQDgu1uX9",
                      "syncTime": "2022-06-28T16:47:00Z"
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {}
          },
          "404": {
            "description": "",
            "content": {}
          },
          "500": {
            "description": "",
            "content": {}
          }
        },
        "security": [],
        "operationId": "getApiCustomers_id",
        "deprecated": false
      },
      "put": {
        "summary": "Update Customer",
        "description": "Update the details of one of your [Customers](/docs/customers).",
        "tags": [],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "Authorization",
            "required": true,
            "description": "Your [API credentials](/docs/authentication). Eg. `Basic {credentials}`."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true,
            "description": "Customer ID"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "legalName": "John Doe",
                "contactName": "John Doe",
                "address": {
                  "line1": "Flat 1",
                  "line2": "123 Fake Street",
                  "town": "London",
                  "postcode": "AB1 2EF",
                  "country": "GB"
                },
                "email": "john@example.com",
                "billingEmails": [
                  "exampleCorpInvoices@example.com"
                ],
                "telephone": "02010001000",
                "url": "https://example.com/",
                "label": "Example customer",
                "externalIds": [
                  {
                    "key": "Xero",
                    "value": "123456789"
                  },
                  {
                    "key": "Stripe",
                    "value": "cus_OCtCxqQDgu1uX9"
                  },
                  {
                    "key": "HubSpot",
                    "value": "123456789"
                  }
                ],
                "taxStatus": "TAXED",
                "customerAliases": [
                  "b1c87177-088a-40ec-8917-9809343f3f9c"
                ]
              },
              "schema": {
                "$ref": "#/components/schemas/UpdateCustomerRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "id": "e309e948-088e-4d77-b654-cd85498f1555",
                  "createdAt": "2022-06-28T16:47:00Z",
                  "sequenceAccountId": "25b3c342-6fa6-4375-9ed3-616f05abb77a",
                  "legalName": "John Doe",
                  "contactName": "John Doe",
                  "address": {
                    "line1": "Flat 1",
                    "line2": "123 Fake Street",
                    "town": "London",
                    "postcode": "AB1 2EF",
                    "country": "GB"
                  },
                  "email": "john@example.com",
                  "billingEmails": [
                    "exampleCorpInvoices@example.com"
                  ],
                  "telephone": "02010001000",
                  "url": "https://example.com/",
                  "taxStatus": "TAXED",
                  "label": "Example customer",
                  "externalIds": [
                    {
                      "key": "Xero",
                      "value": "ID",
                      "syncTime": "2022-06-28T16:47:00Z"
                    },
                    {
                      "key": "Stripe",
                      "value": "cus_OCtCxqQDgu1uX9",
                      "syncTime": "2022-06-28T16:47:00Z"
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {}
          },
          "404": {
            "description": "",
            "content": {}
          },
          "500": {
            "description": "",
            "content": {}
          }
        },
        "security": [],
        "operationId": "putApiCustomers_id",
        "deprecated": false
      }
    },
    "/customers/{id}/aliases": {
      "get": {
        "summary": "Get Customer Aliases",
        "description": "Retrieve the details of one of your [Customer's](/docs/customers) aliases.",
        "tags": [],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "Authorization",
            "required": true,
            "description": "Your [API credentials](/docs/authentication). Eg. `Basic {credentials}`."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true,
            "description": "Customer ID"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "items": [
                    {
                      "id": "0185a140-194a-7e9d-9fae-6a034fd4a725",
                      "sequenceAccountId": "cd243b67-7d8c-42ee-b19f-b4e41f584415",
                      "customerId": "0185a142-54ff-7ce5-846a-fc188432da6e",
                      "value": "customer-alias-123",
                      "createdAt": "2022-10-01T00:00:00Z"
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/GetCustomerAliasesEndpointEndpointResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {}
          },
          "404": {
            "description": "",
            "content": {}
          },
          "500": {
            "description": "",
            "content": {}
          }
        },
        "security": [],
        "operationId": "getApiCustomers_id_Aliases",
        "deprecated": false
      }
    },
    "/products": {
      "get": {
        "summary": "List all Products",
        "description": "List all Products",
        "tags": [],
        "parameters": [
          {
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "name": "limit",
            "required": false,
            "description": "Maximum number of objects to return per-page."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "after",
            "required": false,
            "description": "Pagination offset. To page through items, omit this parameter to retrieve the first page, and then successively use the value you get from `pagination.after` or `pagination.before` to retrieve each page."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "before",
            "required": false,
[...]
