{
  "openapi": "3.0.3",
  "info": {
    "title": "Sequence API",
    "version": "0.1.0",
    "description": "Sequence API"
  },
  "servers": [
    {
      "url": "https://sandbox.sequencehq.com/api",
      "description": "Sequence API"
    }
  ],
  "paths": {
    "/tax-rates": {
      "get": {
        "tags": [],
        "summary": "List all Tax Rates",
        "description": "List all Tax Rates",
        "operationId": "getTaxRates",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Your [API credentials](/docs/authentication). Eg. `Basic {credentials}`.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of objects to return per-page.",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "Pagination offset. To page through items, omit this parameter to retrieve the first page, and then successively use the value you get from `pagination.after` or `pagination.before` to retrieve each page.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "description": "Pagination offset. To page through items, omit this parameter to retrieve the first page, and then successively use the value you get from `pagination.next` or `pagination.previous` to retrieve each page.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListTaxRateEndpointProductListTaxRatePaginatedResponseModel",
                  "example": {
                    "items": [
                      {
                        "id": "d58bf2e3-7a5d-4900-8457-2521c6880f7d",
                        "versionId": "82ef6f1a-afc2-4a8d-b868-6d9c72bf395f",
                        "name": "UK Sales Tax",
                        "sequenceAccountId": "dce9ae85-d8d0-42b4-bcad-f221a64363c6",
                        "version": 0,
                        "isPublished": false,
                        "invoiceName": "Value Added Tax",
                        "invoiceShortName": "VAT",
                        "description": "Value Added Tax applied to sales in the UK",
                        "amount": "0.2",
                        "country": "GB",
                        "region": "London",
                        "subRates": [],
                        "isArchived": false
                      }
                    ],
                    "pagination": {
                      "after": "MDE4NDUyNjYtNmQ2NC03N2M4LTlhZGYtNDQ4N2Q5NGQxNDU3",
                      "before": "MDE4NDQyMWUtYTljYy03MTFiLWFmOTMtYmYwNTExZDRkODMz",
                      "totalResultSize": 10
                    }
                  }
                },
                "examples": {
                  "ListTaxRateEndpointProductListTaxRatePaginatedResponseModel": {
                    "summary": "",
                    "value": {
                      "items": [
                        {
                          "id": "d58bf2e3-7a5d-4900-8457-2521c6880f7d",
                          "versionId": "82ef6f1a-afc2-4a8d-b868-6d9c72bf395f",
                          "name": "UK Sales Tax",
                          "sequenceAccountId": "dce9ae85-d8d0-42b4-bcad-f221a64363c6",
                          "version": 0,
                          "isPublished": false,
                          "invoiceName": "Value Added Tax",
                          "invoiceShortName": "VAT",
                          "description": "Value Added Tax applied to sales in the UK",
                          "amount": "0.2",
                          "country": "GB",
                          "region": "London",
                          "subRates": [],
                          "isArchived": false
                        }
                      ],
                      "pagination": {
                        "after": "MDE4NDUyNjYtNmQ2NC03N2M4LTlhZGYtNDQ4N2Q5NGQxNDU3",
                        "before": "MDE4NDQyMWUtYTljYy03MTFiLWFmOTMtYmYwNTExZDRkODMz",
                        "totalResultSize": 10
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "500": {
            "description": "Internal Server Error",
            "content": {}
          }
        }
      },
      "post": {
        "tags": [],
        "summary": "Create a new TaxRate",
        "description": "Create a new TaxRate",
        "operationId": "postTaxRates",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTaxRateEndpointCreateTaxRateRequestModel",
                "example": {
                  "isPublished": false,
                  "name": "UK Sales Tax",
                  "invoiceName": "Value Added Tax",
                  "invoiceShortName": "VAT",
                  "description": "Value Added Tax applied to sales in the UK",
                  "amount": "0.2",
                  "country": "GB",
                  "region": "London",
                  "taxCategoryId": "ce109c64-dcc0-487a-ac8c-e3237c60cdb6",
                  "subRates": []
                }
              },
              "examples": {
                "CreateTaxRateEndpointCreateTaxRateRequestModel": {
                  "summary": "",
                  "value": {
                    "isPublished": false,
                    "name": "UK Sales Tax",
                    "invoiceName": "Value Added Tax",
                    "invoiceShortName": "VAT",
                    "description": "Value Added Tax applied to sales in the UK",
                    "amount": "0.2",
                    "country": "GB",
                    "region": "London",
                    "taxCategoryId": "ce109c64-dcc0-487a-ac8c-e3237c60cdb6",
                    "subRates": []
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateTaxRateEndpointProductCreateTaxRateResponseModel",
                  "example": {
                    "id": "d58bf2e3-7a5d-4900-8457-2521c6880f7d",
                    "versionId": "82ef6f1a-afc2-4a8d-b868-6d9c72bf395f",
                    "sequenceAccountId": "dce9ae85-d8d0-42b4-bcad-f221a64363c6",
                    "version": 0,
                    "isPublished": false,
                    "name": "UK Sales Tax",
                    "invoiceName": "Value Added Tax",
                    "invoiceShortName": "VAT",
                    "description": "Value Added Tax applied to sales in the UK",
                    "amount": "0.2",
                    "country": "GB",
                    "region": "London",
                    "taxCategoryId": "ce109c64-dcc0-487a-ac8c-e3237c60cdb6",
                    "subRates": [],
                    "isArchived": false
                  }
                },
                "examples": {
                  "CreateTaxRateEndpointProductCreateTaxRateResponseModel": {
                    "summary": "",
                    "value": {
                      "id": "d58bf2e3-7a5d-4900-8457-2521c6880f7d",
                      "versionId": "82ef6f1a-afc2-4a8d-b868-6d9c72bf395f",
                      "sequenceAccountId": "dce9ae85-d8d0-42b4-bcad-f221a64363c6",
                      "version": 0,
                      "isPublished": false,
                      "name": "UK Sales Tax",
                      "invoiceName": "Value Added Tax",
                      "invoiceShortName": "VAT",
                      "description": "Value Added Tax applied to sales in the UK",
                      "amount": "0.2",
                      "country": "GB",
                      "region": "London",
                      "taxCategoryId": "ce109c64-dcc0-487a-ac8c-e3237c60cdb6",
                      "subRates": [],
                      "isArchived": false
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "500": {
            "description": "Internal Server Error",
            "content": {}
          }
        }
      },
      "servers": [],
      "parameters": []
    },
    "/tax-rates/{id}/versions": {
      "get": {
        "tags": [],
        "summary": "List all versions of Tax Rate",
        "description": "List all versions of Tax Rate",
        "operationId": "getTaxRatesByIdVersions",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "TaxRate ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListTaxRateVersionsEndpointProductList_versionsTaxRatePaginatedResponseModel",
                  "example": {
                    "items": [
                      {
                        "id": "d58bf2e3-7a5d-4900-8457-2521c6880f7d",
                        "versionId": "82ef6f1a-afc2-4a8d-b868-6d9c72bf395f",
                        "name": "UK Sales Tax",
                        "sequenceAccountId": "dce9ae85-d8d0-42b4-bcad-f221a64363c6",
                        "version": 0,
                        "isPublished": false,
                        "invoiceName": "Value Added Tax",
                        "invoiceShortName": "VAT",
                        "description": "Value Added Tax applied to sales in the UK",
                        "amount": "0.2",
                        "country": "GB",
                        "region": "London",
                        "subRates": [],
                        "isArchived": false
                      }
                    ],
                    "pagination": {
                      "after": "ZTMwOWU5NDgtMDg4ZS00ZDc3LWI2NTQtY2Q4NTQ5OGYxNTU1IzE2NTgyNjA4NTYwMzMwMTMjREVTQw==",
                      "before": "NjRlZjJmZjktMmJjYi00M2RiLWI0ZDUtOTAxMDU4MjRiMTdmIzE2NTgyNjA3NTk3NTE2ODEjQVND",
                      "totalResultSize": 100
                    }
                  }
                },
                "examples": {
                  "ListTaxRateVersionsEndpointProductList_versionsTaxRatePaginatedResponseModel": {
                    "summary": "",
                    "value": {
                      "items": [
                        {
                          "id": "d58bf2e3-7a5d-4900-8457-2521c6880f7d",
                          "versionId": "82ef6f1a-afc2-4a8d-b868-6d9c72bf395f",
                          "name": "UK Sales Tax",
                          "sequenceAccountId": "dce9ae85-d8d0-42b4-bcad-f221a64363c6",
                          "version": 0,
                          "isPublished": false,
                          "invoiceName": "Value Added Tax",
                          "invoiceShortName": "VAT",
                          "description": "Value Added Tax applied to sales in the UK",
                          "amount": "0.2",
                          "country": "GB",
                          "region": "London",
                          "subRates": [],
                          "isArchived": false
                        }
                      ],
                      "pagination": {
                        "after": "ZTMwOWU5NDgtMDg4ZS00ZDc3LWI2NTQtY2Q4NTQ5OGYxNTU1IzE2NTgyNjA4NTYwMzMwMTMjREVTQw==",
                        "before": "NjRlZjJmZjktMmJjYi00M2RiLWI0ZDUtOTAxMDU4MjRiMTdmIzE2NTgyNjA3NTk3NTE2ODEjQVND",
                        "totalResultSize": 100
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "500": {
            "description": "Internal Server Error",
            "content": {}
          }
        }
      },
      "post": {
        "tags": [],
        "summary": "Create a new version of TaxRate",
        "description": "Create a new version of TaxRate",
        "operationId": "postTaxRatesByIdVersions",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "TaxRate ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Your [API credentials](/docs/authentication). Eg. `Basic {credentials}`.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTaxRateVersionEndpointCreateTaxRateVersionRequestModel",
                "example": {
                  "isPublished": false,
                  "name": "UK Sales Tax",
                  "invoiceName": "Value Added Tax",
                  "invoiceShortName": "VAT",
                  "description": "Value Added Tax applied to sales in the UK",
                  "amount": "0.2",
                  "country": "GB",
                  "region": "London",
                  "taxCategoryId": "ce109c64-dcc0-487a-ac8c-e3237c60cdb6",
                  "subRates": []
                }
              },
              "examples": {
                "CreateTaxRateVersionEndpointCreateTaxRateVersionRequestModel": {
                  "summary": "",
                  "value": {
                    "isPublished": false,
                    "name": "UK Sales Tax",
                    "invoiceName": "Value Added Tax",
                    "invoiceShortName": "VAT",
                    "description": "Value Added Tax applied to sales in the UK",
                    "amount": "0.2",
                    "country": "GB",
                    "region": "London",
                    "taxCategoryId": "ce109c64-dcc0-487a-ac8c-e3237c60cdb6",
                    "subRates": []
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateTaxRateVersionEndpointProductCreateTaxRateVersionResponseModel",
                  "example": {
                    "id": "d58bf2e3-7a5d-4900-8457-2521c6880f7d",
                    "versionId": "82ef6f1a-afc2-4a8d-b868-6d9c72bf395f",
                    "sequenceAccountId": "dce9ae85-d8d0-42b4-bcad-f221a64363c6",
                    "version": 0,
                    "isPublished": false,
                    "name": "UK Sales Tax",
                    "invoiceName": "Value Added Tax",
                    "invoiceShortName": "VAT",
                    "description": "Value Added Tax applied to sales in the UK",
                    "amount": "0.2",
                    "country": "GB",
                    "region": "London",
                    "taxCategoryId": "ce109c64-dcc0-487a-ac8c-e3237c60cdb6",
                    "subRates": [],
                    "isArchived": false
                  }
                },
                "examples": {
                  "CreateTaxRateVersionEndpointProductCreateTaxRateVersionResponseModel": {
                    "summary": "",
                    "value": {
                      "id": "d58bf2e3-7a5d-4900-8457-2521c6880f7d",
                      "versionId": "82ef6f1a-afc2-4a8d-b868-6d9c72bf395f",
                      "sequenceAccountId": "dce9ae85-d8d0-42b4-bcad-f221a64363c6",
                      "version": 0,
                      "isPublished": false,
                      "name": "UK Sales Tax",
                      "invoiceName": "Value Added Tax",
                      "invoiceShortName": "VAT",
                      "description": "Value Added Tax applied to sales in the UK",
                      "amount": "0.2",
                      "country": "GB",
                      "region": "London",
                      "taxCategoryId": "ce109c64-dcc0-487a-ac8c-e3237c60cdb6",
                      "subRates": [],
                      "isArchived": false
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "500": {
            "description": "Internal Server Error",
            "content": {}
          }
        }
      },
      "servers": [],
      "parameters": []
    },
    "/tax-rates/{id}": {
      "get": {
        "tags": [],
        "summary": "Get a Tax Rate by ID",
        "description": "Get a Tax Rate by ID",
        "operationId": "getTaxRatesById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Tax Rate ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Your [API credentials](/docs/authentication). Eg. `Basic {credentials}`.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTaxRateEndpointProductGetTaxRateResponseModel",
                  "example": {
                    "id": "d58bf2e3-7a5d-4900-8457-2521c6880f7d",
                    "versionId": "82ef6f1a-afc2-4a8d-b868-6d9c72bf395f",
                    "name": "UK Sales Tax",
                    "sequenceAccountId": "dce9ae85-d8d0-42b4-bcad-f221a64363c6",
                    "version": 0,
                    "isPublished": false,
                    "invoiceName": "Value Added Tax",
                    "invoiceShortName": "VAT",
                    "description": "Value Added Tax applied to sales in the UK",
                    "amount": "0.2",
                    "country": "GB",
                    "region": "London",
                    "subRates": [],
                    "isArchived": false
                  }
                },
                "examples": {
                  "GetTaxRateEndpointProductGetTaxRateResponseModel": {
                    "summary": "",
                    "value": {
                      "id": "d58bf2e3-7a5d-4900-8457-2521c6880f7d",
                      "versionId": "82ef6f1a-afc2-4a8d-b868-6d9c72bf395f",
                      "name": "UK Sales Tax",
                      "sequenceAccountId": "dce9ae85-d8d0-42b4-bcad-f221a64363c6",
                      "version": 0,
                      "isPublished": false,
                      "invoiceName": "Value Added Tax",
                      "invoiceShortName": "VAT",
                      "description": "Value Added Tax applied to sales in the UK",
                      "amount": "0.2",
                      "country": "GB",
                      "region": "London",
                      "subRates": [],
                      "isArchived": false
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "500": {
            "description": "Internal Server Error",
            "content": {}
          }
        }
      },
      "put": {
        "tags": [],
        "summary": "Update a TaxRate",
        "description": "Update a TaxRate",
        "operationId": "putTaxRatesById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "TaxRate ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTaxRateEndpointUpdateTaxRateRequestModel",
                "example": {
                  "id": "0373904e-0f24-4c19-bb0d-9b855f1ec3ca",
                  "isPublished": false,
                  "name": "UK Sales Tax",
                  "invoiceName": "Value Added Tax",
                  "invoiceShortName": "VAT",
                  "description": "Value Added Tax applied to sales in the UK",
                  "amount": "0.2",
                  "country": "GB",
                  "region": "London",
                  "taxCategoryId": "ce109c64-dcc0-487a-ac8c-e3237c60cdb6",
                  "subRates": []
                }
              },
              "examples": {
                "UpdateTaxRateEndpointUpdateTaxRateRequestModel": {
                  "summary": "",
                  "value": {
                    "id": "0373904e-0f24-4c19-bb0d-9b855f1ec3ca",
                    "isPublished": false,
                    "name": "UK Sales Tax",
                    "invoiceName": "Value Added Tax",
                    "invoiceShortName": "VAT",
                    "description": "Value Added Tax applied to sales in the UK",
                    "amount": "0.2",
                    "country": "GB",
                    "region": "London",
                    "taxCategoryId": "ce109c64-dcc0-487a-ac8c-e3237c60cdb6",
                    "subRates": []
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateTaxRateEndpointProductUpdateTaxRateResponseModel",
                  "example": {
                    "id": "d58bf2e3-7a5d-4900-8457-2521c6880f7d",
                    "versionId": "82ef6f1a-afc2-4a8d-b868-6d9c72bf395f",
                    "sequenceAccountId": "dce9ae85-d8d0-42b4-bcad-f221a64363c6",
                    "version": 0,
                    "isPublished": false,
                    "name": "UK Sales Tax",
                    "invoiceName": "Value Added Tax",
                    "invoiceShortName": "VAT",
                    "description": "Value Added Tax applied to sales in the UK",
                    "amount": "0.2",
                    "country": "GB",
                    "region": "London",
                    "taxCategoryId": "ce109c64-dcc0-487a-ac8c-e3237c60cdb6",
                    "subRates": [],
                    "isArchived": false
                  }
                },
                "examples": {
                  "UpdateTaxRateEndpointProductUpdateTaxRateResponseModel": {
                    "summary": "",
                    "value": {
                      "id": "d58bf2e3-7a5d-4900-8457-2521c6880f7d",
                      "versionId": "82ef6f1a-afc2-4a8d-b868-6d9c72bf395f",
                      "sequenceAccountId": "dce9ae85-d8d0-42b4-bcad-f221a64363c6",
                      "version": 0,
                      "isPublished": false,
                      "name": "UK Sales Tax",
                      "invoiceName": "Value Added Tax",
                      "invoiceShortName": "VAT",
                      "description": "Value Added Tax applied to sales in the UK",
                      "amount": "0.2",
                      "country": "GB",
                      "region": "London",
                      "taxCategoryId": "ce109c64-dcc0-487a-ac8c-e3237c60cdb6",
                      "subRates": [],
                      "isArchived": false
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "500": {
            "description": "Internal Server Error",
            "content": {}
          }
        }
      },
      "delete": {
        "tags": [],
        "summary": "Delete a Tax Rate",
        "description": "Delete a Tax Rate",
        "operationId": "deleteTaxRatesById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Tax Rate ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Your [API credentials](/docs/authentication). Eg. `Basic {credentials}`.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteTaxRateEndpointProductDeleteTaxRateResponseModel",
                  "example": {
                    "id": "d58bf2e3-7a5d-4900-8457-2521c6880f7d",
                    "versionId": "82ef6f1a-afc2-4a8d-b868-6d9c72bf395f",
                    "name": "UK Sales Tax",
                    "sequenceAccountId": "dce9ae85-d8d0-42b4-bcad-f221a64363c6",
                    "version": 0,
                    "isPublished": false,
                    "invoiceName": "Value Added Tax",
                    "invoiceShortName": "VAT",
                    "description": "Value Added Tax applied to sales in the UK",
                    "amount": "0.2",
                    "country": "GB",
                    "region": "London",
                    "subRates": [],
                    "isArchived": false
                  }
                },
                "examples": {
                  "DeleteTaxRateEndpointProductDeleteTaxRateResponseModel": {
                    "summary": "",
                    "value": {
                      "id": "d58bf2e3-7a5d-4900-8457-2521c6880f7d",
                      "versionId": "82ef6f1a-afc2-4a8d-b868-6d9c72bf395f",
                      "name": "UK Sales Tax",
                      "sequenceAccountId": "dce9ae85-d8d0-42b4-bcad-f221a64363c6",
                      "version": 0,
                      "isPublished": false,
                      "invoiceName": "Value Added Tax",
                      "invoiceShortName": "VAT",
                      "description": "Value Added Tax applied to sales in the UK",
                      "amount": "0.2",
                      "country": "GB",
                      "region": "London",
                      "subRates": [],
                      "isArchived": false
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "500": {
            "description": "Internal Server Error",
            "content": {}
          }
        }
      },
      "servers": [],
      "parameters": []
    },
    "/tax-rates/{id}/versions/{version}": {
      "get": {
        "tags": [],
        "summary": "Get a version of Tax Rate by ID and version number",
        "description": "Get a version of Tax Rate by ID and version number",
        "operationId": "getTaxRatesByIdVersionsByVersion",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "TaxRate ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "version",
            "in": "path",
            "description": "TaxRate version",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTaxRateVersionEndpointProductGetTaxRateVersionResponseModel",
                  "example": {
                    "id": "d58bf2e3-7a5d-4900-8457-2521c6880f7d",
                    "versionId": "82ef6f1a-afc2-4a8d-b868-6d9c72bf395f",
                    "name": "UK Sales Tax",
                    "sequenceAccountId": "dce9ae85-d8d0-42b4-bcad-f221a64363c6",
                    "version": 0,
                    "isPublished": false,
                    "invoiceName": "Value Added Tax",
                    "invoiceShortName": "VAT",
                    "description": "Value Added Tax applied to sales in the UK",
                    "amount": "0.2",
                    "country": "GB",
                    "region": "London",
                    "subRates": [],
                    "isArchived": false
                  }
                },
                "examples": {
                  "GetTaxRateVersionEndpointProductGetTaxRateVersionResponseModel": {
                    "summary": "",
                    "value": {
                      "id": "d58bf2e3-7a5d-4900-8457-2521c6880f7d",
                      "versionId": "82ef6f1a-afc2-4a8d-b868-6d9c72bf395f",
                      "name": "UK Sales Tax",
                      "sequenceAccountId": "dce9ae85-d8d0-42b4-bcad-f221a64363c6",
                      "version": 0,
                      "isPublished": false,
                      "invoiceName": "Value Added Tax",
                      "invoiceShortName": "VAT",
                      "description": "Value Added Tax applied to sales in the UK",
                      "amount": "0.2",
                      "country": "GB",
                      "region": "London",
                      "subRates": [],
                      "isArchived": false
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "500": {
            "description": "Internal Server Error",
            "content": {}
          }
        }
      },
      "put": {
        "tags": [],
        "summary": "Update a TaxRate version",
        "description": "Update a TaxRate version",
        "operationId": "putTaxRatesByIdVersionsByVersion",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "TaxRate ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "version",
            "in": "path",
            "description": "TaxRate version",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Your [API credentials](/docs/authentication). Eg. `Basic {credentials}`.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTaxRateVersionEndpointUpdateTaxRateVersionRequestModel",
                "example": {
                  "id": "d2aea732-19f5-4832-848d-f11b796e963e",
                  "isPublished": false,
                  "name": "UK Sales Tax",
                  "invoiceName": "Value Added Tax",
                  "invoiceShortName": "VAT",
                  "description": "Value Added Tax applied to sales in the UK",
                  "amount": "0.2",
                  "country": "GB",
                  "region": "London",
                  "taxCategoryId": "ce109c64-dcc0-487a-ac8c-e3237c60cdb6",
                  "subRates": []
                }
              },
              "examples": {
                "UpdateTaxRateVersionEndpointUpdateTaxRateVersionRequestModel": {
                  "summary": "",
                  "value": {
                    "id": "d2aea732-19f5-4832-848d-f11b796e963e",
                    "isPublished": false,
                    "name": "UK Sales Tax",
                    "invoiceName": "Value Added Tax",
                    "invoiceShortName": "VAT",
                    "description": "Value Added Tax applied to sales in the UK",
                    "amount": "0.2",
                    "country": "GB",
                    "region": "London",
                    "taxCategoryId": "ce109c64-dcc0-487a-ac8c-e3237c60cdb6",
                    "subRates": []
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateTaxRateVersionEndpointProductUpdateTaxRateVersionResponseModel",
                  "example": {
                    "id": "d58bf2e3-7a5d-4900-8457-2521c6880f7d",
                    "versionId": "82ef6f1a-afc2-4a8d-b868-6d9c72bf395f",
                    "sequenceAccountId": "dce9ae85-d8d0-42b4-bcad-f221a64363c6",
                    "version": 0,
                    "isPublished": false,
                    "name": "UK Sales Tax",
                    "invoiceName": "Value Added Tax",
                    "invoiceShortName": "VAT",
                    "description": "Value Added Tax applied to sales in the UK",
                    "amount": "0.2",
                    "country": "GB",
                    "region": "London",
                    "taxCategoryId": "ce109c64-dcc0-487a-ac8c-e3237c60cdb6",
                    "subRates": [],
                    "isArchived": false
                  }
                },
                "examples": {
                  "UpdateTaxRateVersionEndpointProductUpdateTaxRateVersionResponseModel": {
                    "summary": "",
                    "value": {
                      "id": "d58bf2e3-7a5d-4900-8457-2521c6880f7d",
                      "versionId": "82ef6f1a-afc2-4a8d-b868-6d9c72bf395f",
                      "sequenceAccountId": "dce9ae85-d8d0-42b4-bcad-f221a64363c6",
                      "version": 0,
                      "isPublished": false,
                      "name": "UK Sales Tax",
                      "invoiceName": "Value Added Tax",
                      "invoiceShortName": "VAT",
                      "description": "Value Added Tax applied to sales in the UK",
                      "amount": "0.2",
                      "country": "GB",
                      "region": "London",
                      "taxCategoryId": "ce109c64-dcc0-487a-ac8c-e3237c60cdb6",
                      "subRates": [],
                      "isArchived": false
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "500": {
            "description": "Internal Server Error",
            "content": {}
          }
        }
      },
      "delete": {
        "tags": [],
        "summary": "Delete a version of Tax Rate",
        "description": "Delete a version of Tax Rate",
        "operationId": "deleteTaxRatesByIdVersionsByVersion",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "TaxRate ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "version",
            "in": "path",
            "description": "TaxRate version",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Your [API credentials](/docs/authentication). Eg. `Basic {credentials}`.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteTaxRateVersionEndpointProductDeleteTaxRateVersionResponseModel",
                  "example": {
                    "id": "d58bf2e3-7a5d-4900-8457-2521c6880f7d",
                    "versionId": "82ef6f1a-afc2-4a8d-b868-6d9c72bf395f",
                    "name": "UK Sales Tax",
                    "sequenceAccountId": "dce9ae85-d8d0-42b4-bcad-f221a64363c6",
                    "version": 0,
                    "isPublished": false,
                    "invoiceName": "Value Added Tax",
                    "invoiceShortName": "VAT",
                    "description": "Value Added Tax applied to sales in the UK",
                    "amount": "0.2",
                    "country": "GB",
                    "region": "London",
                    "subRates": [],
                    "isArchived": false
                  }
                },
                "examples": {
                  "DeleteTaxRateVersionEndpointProductDeleteTaxRateVersionResponseModel": {
                    "summary": "",
                    "value": {
                      "id": "d58bf2e3-7a5d-4900-8457-2521c6880f7d",
                      "versionId": "82ef6f1a-afc2-4a8d-b868-6d9c72bf395f",
                      "name": "UK Sales Tax",
                      "sequenceAccountId": "dce9ae85-d8d0-42b4-bcad-f221a64363c6",
                      "version": 0,
                      "isPublished": false,
                      "invoiceName": "Value Added Tax",
                      "invoiceShortName": "VAT",
                      "description": "Value Added Tax applied to sales in the UK",
                      "amount": "0.2",
                      "country": "GB",
                      "region": "London",
                      "subRates": [],
                      "isArchived": false
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "500": {
            "description": "Internal Server Error",
            "content": {}
          }
        }
      },
      "servers": [],
      "parameters": []
    },
    "/tax-rates/{id}/archive": {
      "put": {
        "tags": [],
        "summary": "Archive a tax rate",
        "description": "Archive a tax rate",
        "operationId": "putTaxRatesByIdArchive",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "TaxRate ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Your [API credentials](/docs/authentication). Eg. `Basic {credentials}`.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArchiveTaxRateEndpointProductArchiveTaxRateResponseModel",
                  "example": {
                    "id": "d58bf2e3-7a5d-4900-8457-2521c6880f7d",
                    "versionId": "82ef6f1a-afc2-4a8d-b868-6d9c72bf395f",
                    "sequenceAccountId": "dce9ae85-d8d0-42b4-bcad-f221a64363c6",
                    "version": 0,
                    "isPublished": false,
                    "name": "UK Sales Tax",
                    "invoiceName": "Value Added Tax",
                    "invoiceShortName": "VAT",
                    "description": "Value Added Tax applied to sales in the UK",
                    "amount": "0.2",
                    "country": "GB",
                    "region": "London",
                    "taxCategoryId": "ce109c64-dcc0-487a-ac8c-e3237c60cdb6",
                    "subRates": [],
                    "isArchived": true
                  }
                },
                "examples": {
                  "ArchiveTaxRateEndpointProductArchiveTaxRateResponseModel": {
                    "summary": "",
                    "value": {
                      "id": "d58bf2e3-7a5d-4900-8457-2521c6880f7d",
                      "versionId": "82ef6f1a-afc2-4a8d-b868-6d9c72bf395f",
                      "sequenceAccountId": "dce9ae85-d8d0-42b4-bcad-f221a64363c6",
                      "version": 0,
                      "isPublished": false,
                      "name": "UK Sales Tax",
                      "invoiceName": "Value Added Tax",
                      "invoiceShortName": "VAT",
                      "description": "Value Added Tax applied to sales in the UK",
                      "amount": "0.2",
                      "country": "GB",
                      "region": "London",
                      "taxCategoryId": "ce109c64-dcc0-487a-ac8c-e3237c60cdb6",
                      "subRates": [],
                      "isArchived": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "500": {
            "description": "Internal Server Error",
            "content": {}
          }
        }
      },
      "servers": [],
      "parameters": []
    },
    "/tax-registrations": {
      "get": {
        "tags": [],
        "summary": "List all Tax Registrations",
        "description": "List all Tax Registrations",
        "operationId": "getTaxRegistrations",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Your [API credentials](/docs/authentication). Eg. `Basic {credentials}`.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of objects to return per-page.",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "Pagination offset. To page through items, omit this parameter to retrieve the first page, and then successively use the value you get from `pagination.after` or `pagination.before` to retrieve each page.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "description": "Pagination offset. To page through items, omit this parameter to retrieve the first page, and then successively use the value you get from `pagination.next` or `pagination.previous` to retrieve each page.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListTaxRegistrationEndpointProductListTaxRegistrationPaginatedResponseModel",
                  "example": {
                    "items": [
                      {
                        "id": "3271ca41-d538-404f-a15f-25856a37fb88",
                        "sequenceAccountId": "a2e7ec72-e3b1-4349-8d8b-c1ad3cea03a1",
                        "taxIdentifier": "GB123456789",
                        "customerId": "06457f78-85cd-4140-9972-67c6cd8f6071",
                        "merchantId": "06457f78-85cd-4140-9972-67c6cd8f6071",
                        "country": "GB",
                        "state": "CA"
                      }
                    ],
                    "pagination": {
                      "after": "MDE4NDUyNjYtNmQ2NC03N2M4LTlhZGYtNDQ4N2Q5NGQxNDU3",
                      "before": "MDE4NDQyMWUtYTljYy03MTFiLWFmOTMtYmYwNTExZDRkODMz",
                      "totalResultSize": 10
                    }
                  }
                },
                "examples": {
                  "ListTaxRegistrationEndpointProductListTaxRegistrationPaginatedResponseModel": {
                    "summary": "",
                    "value": {
                      "items": [
                        {
                          "id": "3271ca41-d538-404f-a15f-25856a37fb88",
                          "sequenceAccountId": "a2e7ec72-e3b1-4349-8d8b-c1ad3cea03a1",
                          "taxIdentifier": "GB123456789",
                          "customerId": "06457f78-85cd-4140-9972-67c6cd8f6071",
                          "merchantId": "06457f78-85cd-4140-9972-67c6cd8f6071",
                          "country": "GB",
                          "state": "CA"
                        }
                      ],
                      "pagination": {
                        "after": "MDE4NDUyNjYtNmQ2NC03N2M4LTlhZGYtNDQ4N2Q5NGQxNDU3",
                        "before": "MDE4NDQyMWUtYTljYy03MTFiLWFmOTMtYmYwNTExZDRkODMz",
                        "totalResultSize": 10
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "500": {
            "description": "Internal Server Error",
            "content": {}
          }
        }
      },
      "post": {
        "tags": [],
        "summary": "Create a new Tax Registration",
        "description": "Create a new Tax Registration",
        "operationId": "postTaxRegistrations",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Your [API credentials](/docs/authentication). Eg. `Basic {credentials}`.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTaxRegistrationEndpointCreateTaxRegistrationRequestModel",
                "example": {
                  "taxIdentifier": "GB123456789",
                  "customerId": "06457f78-85cd-4140-9972-67c6cd8f6071",
                  "merchantId": "06457f78-85cd-4140-9972-67c6cd8f6071",
                  "country": "GB",
                  "state": "CA"
                }
              },
              "examples": {
                "CreateTaxRegistrationEndpointCreateTaxRegistrationRequestModel": {
                  "summary": "",
                  "value": {
                    "taxIdentifier": "GB123456789",
                    "customerId": "06457f78-85cd-4140-9972-67c6cd8f6071",
                    "merchantId": "06457f78-85cd-4140-9972-67c6cd8f6071",
                    "country": "GB",
                    "state": "CA"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateTaxRegistrationEndpointProductCreateTaxRegistrationResponseModel",
                  "example": {
                    "id": "3271ca41-d538-404f-a15f-25856a37fb88",
                    "sequenceAccountId": "a2e7ec72-e3b1-4349-8d8b-c1ad3cea03a1",
                    "taxIdentifier": "GB123456789",
                    "customerId": "06457f78-85cd-4140-9972-67c6cd8f6071",
                    "merchantId": "06457f78-85cd-4140-9972-67c6cd8f6071",
                    "country": "GB",
                    "state": "CA"
                  }
                },
                "examples": {
                  "CreateTaxRegistrationEndpointProductCreateTaxRegistrationResponseModel": {
                    "summary": "",
                    "value": {
                      "id": "3271ca41-d538-404f-a15f-25856a37fb88",
                      "sequenceAccountId": "a2e7ec72-e3b1-4349-8d8b-c1ad3cea03a1",
                      "taxIdentifier": "GB123456789",
                      "customerId": "06457f78-85cd-4140-9972-67c6cd8f6071",
                      "merchantId": "06457f78-85cd-4140-9972-67c6cd8f6071",
                      "country": "GB",
                      "state": "CA"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "500": {
            "description": "Internal Server Error",
            "content": {}
          }
        }
      },
      "servers": [],
      "parameters": []
    },
    "/tax-registrations/for-merchant/{id}": {
      "get": {
        "tags": [],
        "summary": "Get all tax registrations for a merchant by merchant ID",
        "description": "Get all tax registrations for a merchant by merchant ID",
        "operationId": "getTaxRegistrationsForMerchantById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Merchant ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Your [API credentials](/docs/authentication). Eg. `Basic {credentials}`.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTaxRegistrationForCustomerProductResponse",
                  "example": {
                    "items": [
                      {
                        "id": "3271ca41-d538-404f-a15f-25856a37fb88",
                        "sequenceAccountId": "42020696-da25-44d0-ab79-9ecbf8fc5307",
                        "taxIdentifier": "CA123456789",
                        "merchantId": "06457f78-85cd-4140-9972-67c6cd8f6071",
                        "country": "GB",
                        "state": "CA"
                      }
                    ],
                    "pagination": {
                      "after": "nextOffset",
                      "before": "previousOffset",
                      "totalResultSize": 100
                    }
                  }
                },
                "examples": {
                  "GetTaxRegistrationForCustomerProductResponse": {
                    "summary": "",
                    "value": {
                      "items": [
                        {
                          "id": "3271ca41-d538-404f-a15f-25856a37fb88",
                          "sequenceAccountId": "42020696-da25-44d0-ab79-9ecbf8fc5307",
                          "taxIdentifier": "CA123456789",
                          "merchantId": "06457f78-85cd-4140-9972-67c6cd8f6071",
                          "country": "GB",
                          "state": "CA"
                        }
                      ],
                      "pagination": {
                        "after": "nextOffset",
                        "before": "previousOffset",
                        "totalResultSize": 100
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "500": {
            "description": "Internal Server Error",
            "content": {}
          }
        }
      },
      "servers": [],
      "parameters": []
    },
    "/tax-registrations/for-customer/{id}": {
      "get": {
        "tags": [],
        "summary": "Get all tax registrations for a customer by customer ID",
        "description": "Get all tax registrations for a customer by customer ID",
        "operationId": "getTaxRegistrationsForCustomerById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Customer ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Your [API credentials](/docs/authentication). Eg. `Basic {credentials}`.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTaxRegistrationForCustomerProductResponse",
                  "example": {
                    "items": [
                      {
                        "id": "3271ca41-d538-404f-a15f-25856a37fb88",
                        "sequenceAccountId": "42020696-da25-44d0-ab79-9ecbf8fc5307",
                        "taxIdentifier": "CA123456789",
                        "customerId": "06457f78-85cd-4140-9972-67c6cd8f6071",
                        "country": "GB",
                        "state": "CA"
                      }
                    ],
                    "pagination": {
                      "after": "nextOffset",
                      "before": "previousOffset",
                      "totalResultSize": 100
                    }
                  }
                },
                "examples": {
                  "GetTaxRegistrationForCustomerProductResponse": {
                    "summary": "",
                    "value": {
                      "items": [
                        {
                          "id": "3271ca41-d538-404f-a15f-25856a37fb88",
                          "sequenceAccountId": "42020696-da25-44d0-ab79-9ecbf8fc5307",
                          "taxIdentifier": "CA123456789",
                          "customerId": "06457f78-85cd-4140-9972-67c6cd8f6071",
                          "country": "GB",
                          "state": "CA"
                        }
                      ],
                      "pagination": {
                        "after": "nextOffset",
                        "before": "previousOffset",
                        "totalResultSize": 100
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "500": {
            "description": "Internal Server Error",
            "content": {}
          }
        }
      },
      "servers": [],
      "parameters": []
    },
    "/tax-registrations/{id}": {
      "get": {
        "tags": [],
        "summary": "Get a Tax Registration by ID",
        "description": "Get a Tax Registration by ID",
        "operationId": "getTaxRegistrationsById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Tax registration ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Your [API credentials](/docs/authentication). Eg. `Basic {credentials}`.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTaxRegistrationEndpointProductGetTaxRegistrationResponseModel",
                  "example": {
                    "id": "3271ca41-d538-404f-a15f-25856a37fb88",
                    "sequenceAccountId": "a2e7ec72-e3b1-4349-8d8b-c1ad3cea03a1",
                    "taxIdentifier": "GB123456789",
                    "customerId": "06457f78-85cd-4140-9972-67c6cd8f6071",
                    "merchantId": "06457f78-85cd-4140-9972-67c6cd8f6071",
                    "country": "GB",
                    "state": "CA"
                  }
                },
                "examples": {
                  "GetTaxRegistrationEndpointProductGetTaxRegistrationResponseModel": {
                    "summary": "",
                    "value": {
                      "id": "3271ca41-d538-404f-a15f-25856a37fb88",
                      "sequenceAccountId": "a2e7ec72-e3b1-4349-8d8b-c1ad3cea03a1",
                      "taxIdentifier": "GB123456789",
                      "customerId": "06457f78-85cd-4140-9972-67c6cd8f6071",
                      "merchantId": "06457f78-85cd-4140-9972-67c6cd8f6071",
                      "country": "GB",
                      "state": "CA"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "500": {
            "description": "Internal Server Error",
            "content": {}
          }
        }
      },
      "put": {
        "tags": [],
        "summary": "Update a Tax Registration",
        "description": "Update a Tax Registration",
        "operationId": "putTaxRegistrationsById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Tax registration ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Your [API credentials](/docs/authentication). Eg. `Basic {credentials}`.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTaxRegistrationEndpointUpdateTaxRegistrationRequestModel",
                "example": {
                  "taxIdentifier": "GB123456789",
                  "customerId": "06457f78-85cd-4140-9972-67c6cd8f6071",
                  "merchantId": "06457f78-85cd-4140-9972-67c6cd8f6071",
                  "country": "GB",
                  "state": "CA"
                }
              },
              "examples": {
                "UpdateTaxRegistrationEndpointUpdateTaxRegistrationRequestModel": {
                  "summary": "",
                  "value": {
                    "taxIdentifier": "GB123456789",
                    "customerId": "06457f78-85cd-4140-9972-67c6cd8f6071",
                    "merchantId": "06457f78-85cd-4140-9972-67c6cd8f6071",
                    "country": "GB",
                    "state": "CA"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateTaxRegistrationEndpointProductUpdateTaxRegistrationResponseModel",
                  "example": {
                    "id": "3271ca41-d538-404f-a15f-25856a37fb88",
                    "sequenceAccountId": "a2e7ec72-e3b1-4349-8d8b-c1ad3cea03a1",
                    "taxIdentifier": "GB123456789",
                    "customerId": "06457f78-85cd-4140-9972-67c6cd8f6071",
                    "merchantId": "06457f78-85cd-4140-9972-67c6cd8f6071",
                    "country": "GB",
                    "state": "CA"
                  }
                },
                "examples": {
                  "UpdateTaxRegistrationEndpointProductUpdateTaxRegistrationResponseModel": {
                    "summary": "",
                    "value": {
                      "id": "3271ca41-d538-404f-a15f-25856a37fb88",
                      "sequenceAccountId": "a2e7ec72-e3b1-4349-8d8b-c1ad3cea03a1",
                      "taxIdentifier": "GB123456789",
                      "customerId": "06457f78-85cd-4140-9972-67c6cd8f6071",
                      "merchantId": "06457f78-85cd-4140-9972-67c6cd8f6071",
                      "country": "GB",
                      "state": "CA"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "500": {
            "description": "Internal Server Error",
            "content": {}
          }
        }
      },
      "delete": {
        "tags": [],
        "summary": "Delete a Tax Registration",
        "description": "Delete a Tax Registration",
        "operationId": "deleteTaxRegistrationsById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Tax registration ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Your [API credentials](/docs/authentication). Eg. `Basic {credentials}`.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteTaxRegistrationEndpointProductDeleteTaxRegistrationResponseModel",
                  "example": {
                    "id": "3271ca41-d538-404f-a15f-25856a37fb88",
                    "sequenceAccountId": "a2e7ec72-e3b1-4349-8d8b-c1ad3cea03a1",
                    "taxIdentifier": "GB123456789",
                    "customerId": "06457f78-85cd-4140-9972-67c6cd8f6071",
                    "merchantId": "06457f78-85cd-4140-9972-67c6cd8f6071",
                    "country": "GB",
                    "state": "CA"
                  }
                },
                "examples": {
                  "DeleteTaxRegistrationEndpointProductDeleteTaxRegistrationResponseModel": {
                    "summary": "",
                    "value": {
                      "id": "3271ca41-d538-404f-a15f-25856a37fb88",
                      "sequenceAccountId": "a2e7ec72-e3b1-4349-8d8b-c1ad3cea03a1",
                      "taxIdentifier": "GB123456789",
                      "customerId": "06457f78-85cd-4140-9972-67c6cd8f6071",
                      "merchantId": "06457f78-85cd-4140-9972-67c6cd8f6071",
                      "country": "GB",
                      "state": "CA"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "500": {
            "description": "Internal Server Error",
            "content": {}
          }
        }
      },
      "servers": [],
      "parameters": []
    },
    "/tax-categories": {
      "get": {
        "tags": [],
        "summary": "List all Tax Categories",
        "description": "List all Tax Categories",
        "operationId": "getTaxCategories",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Your [API credentials](/docs/authentication). Eg. `Basic {credentials}`.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of objects to return per-page.",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "Pagination offset. To page through items, omit this parameter to retrieve the first page, and then successively use the value you get from `pagination.after` or `pagination.before` to retrieve each page.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "description": "Pagination offset. To page through items, omit this parameter to retrieve the first page, and then successively use the value you get from `pagination.next` or `pagination.previous` to retrieve each page.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListTaxCategoryEndpointProductListTaxCategoryPaginatedResponseModel",
                  "example": {
                    "items": [
                      {
                        "id": "3271ca41-d538-404f-a15f-25856a37fb88",
                        "versionId": "82ef6f1a-afc2-4a8d-b868-6d9c72bf395f",
                        "sequenceAccountId": "8f614d9e-f19d-4337-a479-2653ded9624a",
                        "version": 0,
                        "isPublished": false,
                        "name": "EU Sales Taxes",
                        "description": "All sales taxes required for the EU"
                      }
                    ],
                    "pagination": {
                      "after": "MDE4NDUyNjYtNmQ2NC03N2M4LTlhZGYtNDQ4N2Q5NGQxNDU3",
                      "before": "MDE4NDQyMWUtYTljYy03MTFiLWFmOTMtYmYwNTExZDRkODMz",
                      "totalResultSize": 10
                    }
                  }
                },
                "examples": {
                  "ListTaxCategoryEndpointProductListTaxCategoryPaginatedResponseModel": {
                    "summary": "",
                    "value": {
                      "items": [
                        {
                          "id": "3271ca41-d538-404f-a15f-25856a37fb88",
                          "versionId": "82ef6f1a-afc2-4a8d-b868-6d9c72bf395f",
                          "sequenceAccountId": "8f614d9e-f19d-4337-a479-2653ded9624a",
                          "version": 0,
                          "isPublished": false,
                          "name": "EU Sales Taxes",
                          "description": "All sales taxes required for the EU"
                        }
                      ],
                      "pagination": {
                        "after": "MDE4NDUyNjYtNmQ2NC03N2M4LTlhZGYtNDQ4N2Q5NGQxNDU3",
                        "before": "MDE4NDQyMWUtYTljYy03MTFiLWFmOTMtYmYwNTExZDRkODMz",
                        "totalResultSize": 10
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "500": {
            "description": "Internal Server Error",
            "content": {}
          }
        }
      },
      "post": {
        "tags": [],
        "summary": "Create a new Tax Category",
        "description": "Create a new Tax Category",
        "operationId": "postTaxCategories",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Your [API credentials](/docs/authentication). Eg. `Basic {credentials}`.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTaxCategoryEndpointCreateTaxCategoryRequestModel",
                "example": {
                  "sequenceAccountId": "8f614d9e-f19d-4337-a479-2653ded9624a",
                  "version": 0,
                  "isPublished": false,
                  "name": "EU Sales Taxes",
                  "description": "All sales taxes required for the EU"
                }
              },
              "examples": {
                "CreateTaxCategoryEndpointCreateTaxCategoryRequestModel": {
                  "summary": "",
                  "value": {
                    "sequenceAccountId": "8f614d9e-f19d-4337-a479-2653ded9624a",
                    "version": 0,
                    "isPublished": false,
                    "name": "EU Sales Taxes",
                    "description": "All sales taxes required for the EU"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateTaxCategoryEndpointProductCreateTaxCategoryResponseModel",
                  "example": {
                    "id": "3271ca41-d538-404f-a15f-25856a37fb88",
                    "versionId": "82ef6f1a-afc2-4a8d-b868-6d9c72bf395f",
                    "sequenceAccountId": "8f614d9e-f19d-4337-a479-2653ded9624a",
                    "version": 0,
                    "isPublished": false,
                    "name": "EU Sales Taxes",
                    "description": "All sales taxes required for the EU"
                  }
                },
                "examples": {
                  "CreateTaxCategoryEndpointProductCreateTaxCategoryResponseModel": {
                    "summary": "",
                    "value": {
                      "id": "3271ca41-d538-404f-a15f-25856a37fb88",
                      "versionId": "82ef6f1a-afc2-4a8d-b868-6d9c72bf395f",
                      "sequenceAccountId": "8f614d9e-f19d-4337-a479-2653ded9624a",
                      "version": 0,
                      "isPublished": false,
                      "name": "EU Sales Taxes",
                      "description": "All sales taxes required for the EU"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "500": {
            "description": "Internal Server Error",
            "content": {}
          }
        }
      },
      "servers": [],
      "parameters": []
    },
    "/tax-categories/{id}/versions": {
      "get": {
        "tags": [],
        "summary": "List all versions of Tax Category",
        "description": "List all versions of Tax Category",
        "operationId": "getTaxCategoriesByIdVersions",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "TaxCategory ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Your [API credentials](/docs/authentication). Eg. `Basic {credentials}`.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListTaxCategoryVersionsEndpointProductList_versionsTaxCategoryPaginatedResponseModel",
                  "example": {
                    "items": [
                      {
                        "id": "3271ca41-d538-404f-a15f-25856a37fb88",
                        "versionId": "82ef6f1a-afc2-4a8d-b868-6d9c72bf395f",
                        "sequenceAccountId": "8f614d9e-f19d-4337-a479-2653ded9624a",
                        "version": 0,
                        "isPublished": false,
                        "name": "EU Sales Taxes",
                        "description": "All sales taxes required for the EU"
                      }
                    ],
                    "pagination": {
                      "after": "ZTMwOWU5NDgtMDg4ZS00ZDc3LWI2NTQtY2Q4NTQ5OGYxNTU1IzE2NTgyNjA4NTYwMzMwMTMjREVTQw==",
                      "before": "NjRlZjJmZjktMmJjYi00M2RiLWI0ZDUtOTAxMDU4MjRiMTdmIzE2NTgyNjA3NTk3NTE2ODEjQVND",
                      "totalResultSize": 100
                    }
                  }
                },
                "examples": {
                  "ListTaxCategoryVersionsEndpointProductList_versionsTaxCategoryPaginatedResponseModel": {
                    "summary": "",
                    "value": {
                      "items": [
                        {
                          "id": "3271ca41-d538-404f-a15f-25856a37fb88",
                          "versionId": "82ef6f1a-afc2-4a8d-b868-6d9c72bf395f",
                          "sequenceAccountId": "8f614d9e-f19d-4337-a479-2653ded9624a",
                          "version": 0,
                          "isPublished": false,
                          "name": "EU Sales Taxes",
                          "description": "All sales taxes required for the EU"
                        }
                      ],
                      "pagination": {
                        "after": "ZTMwOWU5NDgtMDg4ZS00ZDc3LWI2NTQtY2Q4NTQ5OGYxNTU1IzE2NTgyNjA4NTYwMzMwMTMjREVTQw==",
                        "before": "NjRlZjJmZjktMmJjYi00M2RiLWI0ZDUtOTAxMDU4MjRiMTdmIzE2NTgyNjA3NTk3NTE2ODEjQVND",
                        "totalResultSize": 100
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "500": {
            "description": "Internal Server Error",
            "content": {}
          }
        }
      },
      "post": {
        "tags": [],
        "summary": "Create a new version of Tax Category",
        "description": "Create a new version of Tax Category",
        "operationId": "postTaxCategoriesByIdVersions",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "TaxCategory ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Your [API credentials](/docs/authentication). Eg. `Basic {credentials}`.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTaxCategoryVersionEndpointCreateTaxCategoryVersionRequestModel",
                "example": {
                  "sequenceAccountId": "8f614d9e-f19d-4337-a479-2653ded9624a",
                  "version": 0,
                  "isPublished": false,
                  "name": "EU Sales Taxes",
                  "description": "All sales taxes required for the EU"
                }
              },
              "examples": {
                "CreateTaxCategoryVersionEndpointCreateTaxCategoryVersionRequestModel": {
                  "summary": "",
                  "value": {
                    "sequenceAccountId": "8f614d9e-f19d-4337-a479-2653ded9624a",
                    "version": 0,
                    "isPublished": false,
                    "name": "EU Sales Taxes",
                    "description": "All sales taxes required for the EU"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateTaxCategoryVersionEndpointProductCreateTaxCategoryVersionResponseModel",
                  "example": {
                    "id": "3271ca41-d538-404f-a15f-25856a37fb88",
                    "versionId": "82ef6f1a-afc2-4a8d-b868-6d9c72bf395f",
                    "sequenceAccountId": "8f614d9e-f19d-4337-a479-2653ded9624a",
                    "version": 0,
                    "isPublished": false,
                    "name": "EU Sales Taxes",
                    "description": "All sales taxes required for the EU"
                  }
                },
                "examples": {
                  "CreateTaxCategoryVersionEndpointProductCreateTaxCategoryVersionResponseModel": {
                    "summary": "",
                    "value": {
                      "id": "3271ca41-d538-404f-a15f-25856a37fb88",
                      "versionId": "82ef6f1a-afc2-4a8d-b868-6d9c72bf395f",
                      "sequenceAccountId": "8f614d9e-f19d-4337-a479-2653ded9624a",
                      "version": 0,
                      "isPublished": false,
                      "name": "EU Sales Taxes",
                      "description": "All sales taxes required for the EU"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "500": {
            "description": "Internal Server Error",
            "content": {}
          }
        }
      },
      "servers": [],
      "parameters": []
    },
    "/tax-categories/{id}": {
      "get": {
        "tags": [],
        "summary": "Get a Tax Category by ID",
        "description": "Get a Tax Category by ID",
        "operationId": "getTaxCategoriesById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Tax Category ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Your [API credentials](/docs/authentication). Eg. `Basic {credentials}`.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTaxCategoryEndpointProductGetTaxCategoryResponseModel",
                  "example": {
                    "id": "3271ca41-d538-404f-a15f-25856a37fb88",
                    "versionId": "82ef6f1a-afc2-4a8d-b868-6d9c72bf395f",
                    "sequenceAccountId": "8f614d9e-f19d-4337-a479-2653ded9624a",
                    "version": 0,
                    "isPublished": false,
                    "name": "EU Sales Taxes",
                    "description": "All sales taxes required for the EU"
                  }
                },
                "examples": {
                  "GetTaxCategoryEndpointProductGetTaxCategoryResponseModel": {
                    "summary": "",
                    "value": {
                      "id": "3271ca41-d538-404f-a15f-25856a37fb88",
                      "versionId": "82ef6f1a-afc2-4a8d-b868-6d9c72bf395f",
                      "sequenceAccountId": "8f614d9e-f19d-4337-a479-2653ded9624a",
                      "version": 0,
                      "isPublished": false,
                      "name": "EU Sales Taxes",
                      "description": "All sales taxes required for the EU"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "500": {
            "description": "Internal Server Error",
            "content": {}
          }
        }
      },
      "put": {
        "tags": [],
        "summary": "Update a Tax Category",
        "description": "Update a Tax Category",
        "operationId": "putTaxCategoriesById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Tax Category ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Your [API credentials](/docs/authentication). Eg. `Basic {credentials}`.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTaxCategoryEndpointUpdateTaxCategoryRequestModel",
                "example": {
                  "isPublished": false,
                  "name": "EU Sales Taxes",
                  "description": "All sales taxes required for the EU"
                }
              },
              "examples": {
                "UpdateTaxCategoryEndpointUpdateTaxCategoryRequestModel": {
                  "summary": "",
                  "value": {
                    "isPublished": false,
                    "name": "EU Sales Taxes",
                    "description": "All sales taxes required for the EU"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateTaxCategoryEndpointProductUpdateTaxCategoryResponseModel",
                  "example": {
                    "id": "3271ca41-d538-404f-a15f-25856a37fb88",
                    "versionId": "82ef6f1a-afc2-4a8d-b868-6d9c72bf395f",
                    "sequenceAccountId": "8f614d9e-f19d-4337-a479-2653ded9624a",
                    "version": 0,
                    "isPublished": false,
                    "name": "EU Sales Taxes",
                    "description": "All sales taxes required for the EU"
                  }
                },
                "examples": {
                  "UpdateTaxCategoryEndpointProductUpdateTaxCategoryResponseModel": {
                    "summary": "",
                    "value": {
                      "id": "3271ca41-d538-404f-a15f-25856a37fb88",
                      "versionId": "82ef6f1a-afc2-4a8d-b868-6d9c72bf395f",
                      "sequenceAccountId": "8f614d9e-f19d-4337-a479-2653ded9624a",
                      "version": 0,
                      "isPublished": false,
                      "name": "EU Sales Taxes",
                      "description": "All sales taxes required for the EU"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "500": {
            "description": "Internal Server Error",
            "content": {}
          }
        }
      },
      "delete": {
        "tags": [],
        "summary": "Delete a Tax Category",
        "description": "Delete a Tax Category",
        "operationId": "deleteTaxCategoriesById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Tax Category ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Your [API credentials](/docs/authentication). Eg. `Basic {credentials}`.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteTaxCategoryEndpointProductDeleteTaxCategoryResponseModel",
                  "example": {
                    "id": "3271ca41-d538-404f-a15f-25856a37fb88",
                    "versionId": "82ef6f1a-afc2-4a8d-b868-6d9c72bf395f",
                    "sequenceAccountId": "8f614d9e-f19d-4337-a479-2653ded9624a",
                    "version": 0,
                    "isPublished": false,
                    "name": "EU Sales Taxes",
                    "description": "All sales taxes required for the EU"
                  }
                },
                "examples": {
                  "DeleteTaxCategoryEndpointProductDeleteTaxCategoryResponseModel": {
                    "summary": "",
                    "value": {
                      "id": "3271ca41-d538-404f-a15f-25856a37fb88",
                      "versionId": "82ef6f1a-afc2-4a8d-b868-6d9c72bf395f",
                      "sequenceAccountId": "8f614d9e-f19d-4337-a479-2653ded9624a",
                      "version": 0,
                      "isPublished": false,
                      "name": "EU Sales Taxes",
                      "description": "All sales taxes required for the EU"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "500": {
            "description": "Internal Server Error",
            "content": {}
          }
        }
      },
      "servers": [],
      "parameters": []
    },
    "/tax-categories/{id}/versions/{version}": {
      "get": {
        "tags": [],
        "summary": "Get a version of Tax Category by ID and version number",
        "description": "Get a version of Tax Category by ID and version number",
        "operationId": "getTaxCategoriesByIdVersionsByVersion",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "TaxCategory ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "version",
            "in": "path",
            "description": "TaxCategory version",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Your [API credentials](/docs/authentication). Eg. `Basic {credentials}`.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTaxCategoryVersionEndpointProductGetTaxCategoryVersionResponseModel",
                  "example": {
                    "id": "3271ca41-d538-404f-a15f-25856a37fb88",
                    "versionId": "82ef6f1a-afc2-4a8d-b868-6d9c72bf395f",
                    "sequenceAccountId": "8f614d9e-f19d-4337-a479-2653ded9624a",
                    "version": 0,
                    "isPublished": false,
                    "name": "EU Sales Taxes",
                    "description": "All sales taxes required for the EU"
                  }
                },
                "examples": {
                  "GetTaxCategoryVersionEndpointProductGetTaxCategoryVersionResponseModel": {
                    "summary": "",
                    "value": {
                      "id": "3271ca41-d538-404f-a15f-25856a37fb88",
                      "versionId": "82ef6f1a-afc2-4a8d-b868-6d9c72bf395f",
                      "sequenceAccountId": "8f614d9e-f19d-4337-a479-2653ded9624a",
                      "version": 0,
                      "isPublished": false,
                      "name": "EU Sales Taxes",
                      "description": "All sales taxes required for the EU"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "500": {
            "description": "Internal Server Error",
            "content": {}
          }
        }
      },
      "put": {
        "tags": [],
        "summary": "Update a version of Tax Category",
        "description": "Update a version of Tax Category",
        "operationId": "putTaxCategoriesByIdVersionsByVersion",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "TaxCategory ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "version",
            "in": "path",
            "description": "TaxCategory version",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Your [API credentials](/docs/authentication). Eg. `Basic {credentials}`.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTaxCategoryVersionEndpointUpdateTaxCategoryVersionRequestModel",
                "example": {
                  "isPublished": false,
                  "name": "EU Sales Taxes",
                  "description": "All sales taxes required for the EU"
                }
              },
              "examples": {
                "UpdateTaxCategoryVersionEndpointUpdateTaxCategoryVersionRequestModel": {
                  "summary": "",
                  "value": {
                    "isPublished": false,
                    "name": "EU Sales Taxes",
                    "description": "All sales taxes required for the EU"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateTaxCategoryVersionEndpointProductUpdateTaxCategoryVersionResponseModel",
                  "example": {
                    "id": "3271ca41-d538-404f-a15f-25856a37fb88",
                    "versionId": "82ef6f1a-afc2-4a8d-b868-6d9c72bf395f",
                    "sequenceAccountId": "8f614d9e-f19d-4337-a479-2653ded9624a",
                    "version": 0,
                    "isPublished": false,
                    "name": "EU Sales Taxes",
                    "description": "All sales taxes required for the EU"
                  }
                },
                "examples": {
                  "UpdateTaxCategoryVersionEndpointProductUpdateTaxCategoryVersionResponseModel": {
                    "summary": "",
                    "value": {
                      "id": "3271ca41-d538-404f-a15f-25856a37fb88",
                      "versionId": "82ef6f1a-afc2-4a8d-b868-6d9c72bf395f",
                      "sequenceAccountId": "8f614d9e-f19d-4337-a479-2653ded9624a",
                      "version": 0,
                      "isPublished": false,
                      "name": "EU Sales Taxes",
                      "description": "All sales taxes required for the EU"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "500": {
            "description": "Internal Server Error",
            "content": {}
          }
        }
      },
      "delete": {
        "tags": [],
        "summary": "Delete a version of Tax Category",
        "description": "Delete a version of Tax Category",
        "operationId": "deleteTaxCategoriesByIdVersionsByVersion",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "TaxCategory ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "version",
            "in": "path",
            "description": "TaxCategory version",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Your [API credentials](/docs/authentication). Eg. `Basic {credentials}`.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteTaxCategoryVersionEndpointProductDeleteTaxCategoryVersionResponseModel",
                  "example": {
                    "id": "3271ca41-d538-404f-a15f-25856a37fb88",
                    "versionId": "82ef6f1a-afc2-4a8d-b868-6d9c72bf395f",
                    "sequenceAccountId": "8f614d9e-f19d-4337-a479-2653ded9624a",
                    "version": 0,
                    "isPublished": false,
                    "name": "EU Sales Taxes",
                    "description": "All sales taxes required for the EU"
                  }
                },
                "examples": {
                  "DeleteTaxCategoryVersionEndpointProductDeleteTaxCategoryVersionResponseModel": {
                    "summary": "",
                    "value": {
                      "id": "3271ca41-d538-404f-a15f-25856a37fb88",
                      "versionId": "82ef6f1a-afc2-4a8d-b868-6d9c72bf395f",
                      "sequenceAccountId": "8f614d9e-f19d-4337-a479-2653ded9624a",
                      "version": 0,
                      "isPublished": false,
                      "name": "EU Sales Taxes",
[...]
